@font-face {
  font-family: "Public Sans";
  src: url("PublicSans-Regular.woff2") format("woff2"), url("PublicSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RecifeDisplay Book";
  src: url("RecifeDisplay-BookItalic.woff2") format("woff2"), url("RecifeDisplay-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "RecifeDisplay Book";
  src: url("RecifeDisplay-Book.woff2") format("woff2"), url("RecifeDisplay-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Public Sans";
  src: url("PublicSans-Light.woff2") format("woff2"), url("PublicSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
a {
  -webkit-transition: all 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -moz-transition: all 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -ms-transition: all 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -o-transition: all 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: all 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  text-decoration: none;
}

hr {
  border: none;
  height: 5vh;
  display: block;
}

p {
  line-height: 150%;
  text-indent: 50px;
  width: 600px;
  max-width: 90vw;
  font-size: 1.25em;
}

* {
  scroll-margin-top: 100px;
}

html {
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
}

body {
  background: #010101;
  color: #eee;
  font-family: "Public Sans";
}

#links {
  max-width: 90vw;
  width: auto;
  padding: 2.5vh 0;
  margin: 5vh 0;
  display: flex;
  flex-wrap: wrap;
}
#links ._col {
  margin-right: 1.5em;
  margin-bottom: 1em;
}
#links ._col strong {
  font-family: "RecifeDisplay Book";
  font-size: 1.5em;
  margin: 0.5em 0 1.5em 0;
  display: block;
}
#links ._col a {
  display: block;
  opacity: 0.6;
  width: 300px;
  font-weight: 300;
  line-height: 150%;
  margin: 0.25em 0;
  padding: 0.25em 0;
  border-bottom: 1px solid #eee;
  color: #eee;
  text-decoration: none;
}
#links ._col a:hover {
  opacity: 0.8;
}

#navigation {
  position: fixed;
  height: 100px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #010101;
  background: linear-gradient(0deg, #010101 0%, rgba(1, 1, 1, 0) 100%);
}
#navigation ._inner {
  margin: 0 auto;
  width: 100%;
  height: 50px;
  align-items: center;
  padding: 1em;
  display: flex;
  justify-content: center;
  vertical-align: center;
}
#navigation ._inner a {
  display: inline-block;
  text-align: center;
  max-width: 150px;
  width: 12.5%;
  color: #eee;
  text-decoration: none;
  font-size: 14px;
  font-family: "Public Sans";
}
#navigation ._inner:hover a:not(:hover) {
  opacity: 0.6;
}

#wrapper {
  padding: 2vw;
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 15vh;
}

p.intro {
  font-size: 1.6em;
  font-weight: 300;
  line-height: 130%;
  margin-right: auto;
  margin-left: 0;
  width: 550px;
  max-width: 90vw;
}
p.intro a {
  font-family: "RecifeDisplay Book";
  letter-spacing: -4%;
  color: #eee;
}

#intro {
  margin: 0 auto;
  padding: 10vh 0;
  min-height: 100vh;
}
#intro h1 {
  font-family: "RecifeDisplay Book";
  font-size: 72px;
  letter-spacing: -6%;
  margin-bottom: 0;
  margin-top: 5vh;
}

h2 {
  font-family: "RecifeDisplay Book";
  font-size: 2.8em;
  margin: 1em 0;
}
h2 a {
  color: aquamarine;
}

h3 {
  font-family: "RecifeDisplay Book";
  font-size: 2em;
  margin: 2em 0 1em 0;
}
h3 a {
  color: aquamarine;
}

._embed {
  margin: 2em 0;
}
._embed * {
  max-width: 90vw;
}

img {
  max-width: 60vw;
  padding: 2em;
  margin: 0 auto;
}

/*# sourceMappingURL=main.css.map */
