
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

@font-face {
    font-family: 'Bau Pro';
    src: url('../fonts/BauPro.woff2') format('woff2'),
        url('../fonts/BauPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bau Pro';
    src: url('../fonts/BauPro-Medium.woff2') format('woff2'),
        url('../fonts/BauPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
