/*

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
*/

@font-face {
    font-family: 'Bau Pro';
    src: url('../fonts/BauPro.woff2') format('woff2'),
        url('../fonts/BauPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bau Pro';
    src: url('../fonts/BauPro-Medium.woff2') format('woff2'),
        url('../fonts/BauPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../fonts/NeueMontreal-Bold.woff2') format('woff2'),
        url('../fonts/NeueMontreal-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../fonts/NeueMontreal-Regular.woff2') format('woff2'),
        url('../fonts/NeueMontreal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../fonts/NeueMontreal-Medium.woff2') format('woff2'),
        url('../fonts/NeueMontreal-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Times Now';
    src: url('https://chia.design/assets/fonts/TimesNow-SemiLight.woff2') format('woff2'),
        url('https://chia.design/assets/fonts/TimesNow-SemiLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Times Now';
    src: url('https://chia.design/assets/fonts/TimesNow-SemiLightItalic.woff2') format('woff2'),
        url('https://chia.design/assets/fonts/TimesNow-SemiLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

