$bg-color: #001a19;
$light-color: #f0f8f7;
$white: #f0f8f7;

$text: #2b2c36;
$blue-screen: #141cd1;
$white-screen: #141317;

body {
    background: $white-screen;
    cursor: default;
}

div {
    box-sizing: border-box;
}

a {
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.landing-front {
    margin-top:5vh;
    min-height:460px;
    height:auto;
    
    details{
        font-size:1.2em;
    }
    

    @media only screen and (max-width: 700px) {
        min-height:400px;
    
        details{
            font-size:.8em;
            display: none;
        }
    }
}

details summary::-webkit-details-marker {
  display:none;
}

details summary{
    cursor:pointer;
}

details[open]{
    margin-top:1em;
}
details[open] > summary{
    display: none;
}

.landing-style-container {
    position: absolute;
    display: flex;
    justify-content: center;
    

    .special {
        box-sizing: border-box;
        display: block;
        padding-top:2em;
        width: 80vw !important;
        max-width: 750px;
        border: 0;
        
        font-family:"Canela";
        
        p.intro{
            line-height:1.3em !important;
            font-size:2.4em !important;
        }
        
        a {
            font-family:"Canela" !important;
            background: none !important;
            color: cyan !important;
            text-decoration: none !important;

        }

    }

    
    .landing-overlay{
        position: absolute;
        width:35vw;
        z-index:-99;
        mix-blend-mode: saturation;
        img{
            width:100%;
            filter: blur(0.3px) invert(1);
        }
    }

    
    
    @media only screen and (max-width: 900px) {
        .special{
            p.intro{
                font-size:2em !important; 
                line-height:1.4em !important;
            }
        }
        
    }

    @media only screen and (max-width: 700px) {
        

    }

}


#landing {


    h1 {
        font-family: "Canela";
        font-weight: 300;
        font-size: 2.2em;
        margin-bottom: .2em;
        color: $white;
        display: inline;
        font-style: italic;

        sup {
            font-family: "GT America Expanded";
            font-size: 12px;
            font-weight: 100;
            margin-bottom: 10px;
        }
    }


    p {
        margin: 0;
        font-family:"Canela" !important;
        
        //font-family:"Aktiv-Grotesk" !important;
        font-size: 1.2em;
        line-height: 1.4em;
        font-weight: 300;
        color: $white;


        a:hover {
            color: yellow !important;
        }

        sup {
            font-weight: 300;
            font-style: italic;
            font-family: "Canela";
        }

    }


    a {
        color: #000;
        text-decoration: none;
        background: $white;
        font-family: "GT America Expanded";
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
    }

    a:hover {
        color: cyan !important;
        text-decoration: none;
        background: #3422bc;
    }


    em {
        font-style: normal !important;
        font-family: "GT America Expanded";
        line-height: 1em !important;
        color: $white;
        font-size:.8em;
    }



    .btn-landing {
        border-bottom: 1px solid $white;
        padding: 0 0 .1em 0;
        font-size: 1.2em !important;
    }

    .btn-landing:hover {
        color: yellow !important;
        border: 0;
    }

    .btn-scroll {
        font-family: "Canela";
        font-style: italic;
        float: right;
        font-size: 2em !important;
    }

    /* LANDING SHOWCASE */




    @media only screen and (max-width: 600px) {

        .hide,
        sup {
            display: none !important;
        }
        
    
        p {
            font-size: 1.1em;
            line-height: 1.4em;
        }

        em {
            font-size: .7em;
            line-height: .8em !important;
        }
    }

}

#landing-works {
    
    width: 100vw;
    display: flex;
    justify-content: center;
    max-width: 900px;

    a {
        text-decoration: none;

    }

    a.btn {
        font-family: "Canela";
        color: cyan;
        text-decoration: none;
        font-weight: 100;
        font-size: 2em;

    }

    a.btn:hover {
        color:yellow;
    }

    .portfolio-project-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        justify-content: center;
        align-self: top;

        .project-box:hover {
            filter: grayscale(0);
            cursor: e-resize !important;
            //background: rgba(176, 226, 226, 0.36);
        }

        .project-box {
            width: 300px !important; 
            max-width: 90%;
            box-sizing: border-box;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            text-align: center;
            align-self: top;
            padding: 0 0 1em 0;
            display: flex;
            flex-wrap: wrap;
            text-decoration: none;
            cursor: e-resize !important;
            margin-bottom: 0;

            

        }

        h2 {
            padding: .5em 0 0 0;
            width:100%;
            text-align: center;
            display: block;
            font-weight: 300;
            font-style: italic;
            font-family: "Canela", Helvetica, Arial;
            font-size: 1.8em;
            line-height: 1.1em;
            cursor: e-resize !important;
        }
        
        .project-box:hover h2{
            color:cyan !important;
        }


        h3 {
            font-family: "GT America";
            text-transform: uppercase;
            text-align: center;
            display: block;
            font-size: .6em;
            color: lightblue !important;
            margin: .2em 0;
            font-weight: 100;
            cursor: e-resize !important;
        }


        @media only screen and (max-width: 800px) {
            .quote-block {
                //display:none;
                font-size: .9em !important;
            }

            h2 {
                padding-top: 1em;
                font-size: 1.8em;
            }

            .project-box {
                max-width: 600px;
                width: 100%;
                border-bottom: 1px solid $white;

                img {
                    width: 100%;
                }


                .btn {
                    display: none;
                }
            }

            .project-box:hover {
                img {
                    filter: grayscale(1);
                }
            }

        }

    }

}

#landing-chia {

    .box-inner {
        padding-top: 80px;
    }

    p {
        color: $white;

        a {
            color: #fff;
            border-bottom: 1px solid cyan;
            text-decoration: none;
        }

        a::before {
            color: cyan;
            content: "◦ ";
        }
    }

    .thing {
        margin-top: 50vh;
        position: absolute;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -999;
        
        @media only screen and (max-width: 700px) {
            display: none;
            }
    }

    h2 {
        font-family: "GT America Expanded";
        display: block;
        color: $white;
        margin: 0;
        font-weight: 100;
        text-transform: uppercase;
        font-size: 1em;
    }

    .landing-word {
        position: relative;
        max-width: 500px;
        clear: both;
        display: flex;
        justify-content: space-around;

        h1 {
            font-family: "Canela";
            font-weight: 100;
            font-style: italic;
            display: inline;
            font-size: 2.8em;
            line-height: .9em !important;
            vertical-align: top;
            color: $white;
            margin: 0;
        }

        p {
            padding: 1em;
            margin-top: -1em;
            max-width: 300px;
            color: $white;
            vertical-align: top;

            a {
                color: cyan !important;
            }
        }
    }
    
    .landing-social {

        a {

            text-decoration: none;
            color: cyan;
            margin-right: 1em;
            padding-top: .5em;
            border-bottom: 1px solid $white;
        }

        a:hover {
            color: yellow;
            border-bottom: 1px solid cyan;
        }
    }
    

    .showcase-container {
        padding: 1em;
        display: flex;
        flex-wrap: wrap;

        .showcase-box {
            display: inline-block;
            border-bottom: 1px solid $white;
            max-width: 75% !important;
            min-width: 280px;
            margin: 0 .5em 1.5em .5em;
            padding-bottom: 1em;

            h1 {
                font-family: "Canela";
                color: $white;
                margin: 0;
                font-size: 1.8em;
                font-weight: 400;
                font-style: italic;
                letter-spacing: .5px;
                -webkit-transition: all .3s linear;
                -moz-transition: all .3s linear;
                -ms-transition: all .3s linear;
                -o-transition: all .3s linear;
                transition: all .3s linear;
            }

            h1::before {
                font-size: .8em;
                vertical-align: super;
                margin-left: -1em;
            }

            h2 {
                clear: both;
                display: block;
            }

            h3 {
                margin: 0;
                font-family: "GT America Expanded";
                font-size: .7em;
                color: cyan;
                font-weight: 100;
                text-transform: uppercase;
                letter-spacing: .4px;
            }

            p {
                margin: 0;
                color: $white;
                line-height: 1.4em;
            }



        }


        @media only screen and (max-width: 700px) {

            .showcase-box {
                width: 70vw !important;
            }

        }

        .showcase-box:hover > h1 {
            color: cyan;
        }



        a {}

    }


}

.projects-archive {

    a {
        display: inline-block;
        width: 80%;
        line-height: 1.2em;
        padding: .5em 0;
    }

    a:hover {
        color: cyan !important;
        border-bottom: 1px solid yellow !important;
    }

}


/* LANDING AREAS */

.landing-name {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2em;

    h1 {
        font-size: 2.6em !important;
    }


    @media only screen and (max-width: 700px) {
        display: none;
    }
}

.landing-comms {
    position: fixed;
    top:0;
    width:100%;
    max-width:900px;
    margin:0 auto;
    padding: 1.5em;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
    z-index:999;
    height:80px;
    background-repeat: repeat-x;
    
    .header-right a::after{
            content: " ↗\00FE0E";
        font-family:"Segoe UI Symbol" !important;
    }

    a .fa {
        font-size: .8em;
    }

    a {
        text-decoration: none;
        margin:0 .5em;
        font-weight: 400;
        font-family: 'Sporting Grotesque' !important;
        font-style: normal;
        display: inline-block;
        color: $white !important;
        background: none !important;
        text-align: right;
    }

    .header-right{
        float:right;
    }
    
    a:hover {
        color: cyan !important;
    }
    
    
    @media only screen and (max-width: 700px) {
        padding: 1em;
        margin: auto;
        width: 100%;
        font-size: 1.1em;
        
        span{
            float:none !important;
        }
        
        .chia{
            display: none;
        }

        a {
            display: inline-block;
            margin:0 .5em;
            letter-spacing: 0;
            font-size: 1em;
            font-weight: 100;
            text-align: center;
        }
    }
}