$bg-color: #3131ef;
$light-color: #f0f8f7;
$white: #f0f8f7;

$text: #2b2c36;
$accent: #a3a3f4;
$blue-screen: #cacdf2;
$white-screen: #3131ef;

a {
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

#footer{
    height:80px;
}

#navigation{

    margin-top:1em;
    text-align: center;

    div{
        width:90vw;
        max-width: 900px;
        margin:0 auto;
    }
    
    a{
        font-size:1.6em;
        margin:0 .25em;
        justify-content: center;
    }
    
}


#landing {

    margin-top:2em;
    min-height:440px;
    height:auto;
    

    h1 {
        font-family: "Canela";
        font-weight: 300;
        font-size: 2.2em;
        margin-bottom: .2em;
        color: $white;
        display: inline;
        font-style: italic;

        sup {
            font-family: "GT America Expanded";
            font-size: 12px;
            font-weight: 100;
            margin-bottom: 10px;
        }
    }


    p {
        margin: 0;
        font-size: 1.2em;
        line-height: 1.4em;
        font-weight: 300;
        color: $white;

        sup {
            font-weight: 300;
            font-style: italic;
            font-family: "Canela";
        }

    }

    a{
        text-decoration: none;
        padding:.1em;
        color: $white;

    }
    
    p a::after{
        content: "↗\00FE0E ";
        font-size:.8em;
    }
    
    p a:hover{
        color: $accent;
    }
     
    em {
        font-style: normal !important;
        font-family: "Canela";
        line-height: 1em !important;
        color: $white;
        font-size:1.2em;
    }
    
    em:hover{
        color:$accent;
    }

    
    details{
        font-size:1em;
        line-height:.8em;
        max-width: 90%;
        font-family:"GT America";
    }


    details summary::-webkit-details-marker {
      display:none;
    }

    details[open]{
        margin-top:1em;
    }
    details[open] > summary{
        display: none;
    }

    
    details a {
        font-family: "GT America";
        color: $accent;
    }
    
    details a::after{
        content: "";
    }
    
    details a:hover{
        color: $white-screen;
        background:$white;
    }
    
    @media only screen and (max-width: 780px) {
        min-height:380px;
    
        details{
            font-size:.8em;
            display: none;
        }
    }
     
    /* LANDING SHOWCASE */


    @media only screen and (max-width: 600px) {

        .hide,
        sup {
            display: none;
        }
        
    
        p {
            font-size: 1.2em;
            line-height: 1.4em;
        }

        em {
            font-size: .7em;
            line-height: .8em;
        }
    } 
}


.landing-style-container {
    position: absolute;
    display: flex;
    justify-content: center;

    .special {
        box-sizing: border-box;
        display: block;
        width: 80vw;
        max-width: 850px;
        margin-top:1em;
        
        p.intro{
            
            font-family:"Canela", "GT America", apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial;
            line-height:1.3em !important;
            font-size:2.6em !important;
            
            a{
                font-family:"Canela";
            }
            
            strong{
                font-weight:300;
                -webkit-animation: color-change 3s infinite;
                -moz-animation: color-change 3s infinite;
                -o-animation: color-change 3s infinite;
                -ms-animation: color-change 3s infinite;
                animation: color-change 3s infinite;
            }
            
            @media only screen and (max-width: 780px) {
             
                font-size:2.2em !important;
                
            }
            
        }
        

    }

    
    #landing-overlay{
        position: absolute;
        width:35vw;
        mix-blend-mode: saturation;
        pointer-events: none;
        
        img{
            width:100%;
            max-width:400px;
        }
    }

    
    

}


#cbox{
    
    position: fixed;
    width:100%;
    bottom:15px;
    text-align: center;
    z-index:999;
    
    button{
        padding:1em;
        font-family: "Canela";
        font-weight: 100;
        font-size:1em;
        border:0;
        background: none;
        color:#fff;
        mix-blend-mode: exclusion;
        margin:1em;
    }
    
    button:hover{
        color: $accent;
    }
    
    3cbox-here iframe{
        margin-right: 1em;
        mix-blend-mode: difference;
    }
    
}

#landing-works {
    
    margin-top:-1em;
    text-align: center;
    
    .box-inner{
        max-width:1000px;
    }

    a {
        text-decoration: none;

    }

    a.btn {
        font-family: "Canela";
        color: $accent;
        text-decoration: none;
        font-weight: 100;
        font-size: 2em;

    }

    a.btn:hover {
        color: $white;
    }

    .portfolio-project-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        justify-content: center;
        align-self: top;

        .project-box:hover {
            filter: grayscale(0);
            cursor: e-resize !important;
            //background: rgba(176, 226, 226, 0.36);
        }

        .project-box {
            width: 285px; 
            max-width: 95%;
            box-sizing: border-box;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            text-align: center;
            align-self: top;
            padding:0 0 .5em 0;
            display: flex;
            flex-wrap: wrap;
            text-decoration: none;
            cursor: e-resize !important;
            margin-bottom: 1em;

        }

        h2 {
            padding: .5em 0 0 0;
            width:100%;
            text-align: center;
            display: block;
            font-weight: 300;
            font-style: italic;
            font-family: "Canela", Helvetica, Arial;
            font-size: 2.4em;
            line-height: 1.1em;
            cursor: e-resize;
        }
        
        .project-box:hover h2{
            color:$accent !important;
        }


        h3 {
            font-family: "GT America";
            text-transform: uppercase;
            text-align: center;
            display: block;
            font-size: .6em !important;
            letter-spacing: 1px;
            color: $blue-screen;
            margin: .2em 0;
            font-weight: 100;
            cursor: e-resize;
        }

        

        @media only screen and (max-width: 600px) {
            .quote-block {
                //display:none;
                font-size: .9em !important;
            }

            h2 {
                padding-top: 1em;
                font-size: 1.8em;
            }
            
            a{
                width:300px;
                margin-top:0;
                max-width:100%;
            }

            .project-box {
                max-width: 600px;
                width: 100%;
                padding-bottom:1em;
                border-bottom: 1px solid $white;

                h2{
                    padding-top:0;
                }
                
                img {
                    width: 100%;
                }


                .btn {
                    display: none;
                }
            }

            .project-box:hover {
                img {
                    filter: grayscale(1);
                }
            }

        }

    }

}

#landing-chia {

    margin:0 auto;
    max-width: 1000px;
    
    .box-inner {
        padding-top: 70px;
        
    }

    p {
        color: $white;

    }

    .thing {
        
        margin-top: 50vh;
        position: absolute;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        pointer-events: none;
        z-index: 99;
        
        @media only screen and (max-width: 700px) {
            display: none;
            }
    }

    h2 {
        font-family: "GT America Expanded";
        display: block;
        color: $white;
        margin: 0;
        font-weight: 100;
        text-transform: uppercase;
        font-size: 1em;
    }

    .landing-word {
        position: relative;
        max-width: 500px;
        clear: both;
        display: flex;
        justify-content: space-around;

        h1 {
            font-family: Canela;
            font-weight: 100;
            font-style: italic;
            display: inline;
            font-size: 2.8em;
            line-height: .9em !important;
            vertical-align: top;
            color: $white;
            margin: 0;
        }

        p {
            padding: 1em;
            margin-top: -1em;
            max-width: 300px;
            color: $white;
            vertical-align: top;

            a {
                color: $accent !important;
            }
        }
        
    }
    
    
    .showcase-container.landing{
        padding:1em;
        border:1px solid $white;
        max-width: 700px;
        max-height:250px;
        overflow-y: scroll;
        box-sizing: border-box;
        color: $white;
    }
    
    
    .showcase-container.landing .projects-archive{
         
        position: relative;
        box-sizing: border-box;
        
    }
    
    .showcase-container {
        
        margin:1em 0;
        display: flex;
        flex-wrap: wrap;
        
            a{
                opacity:1;
            }

        
        .showcase-box {
            display: inline-block;
            border-bottom: 1px solid $white;
            max-width: 75% !important;
            min-width: 280px;
            margin: 0 .5em 1.5em .5em;
            padding-bottom: 1em;

            h1 {
                font-family: Canela;
                color: $white;
                margin: 0;
                font-size: 1.8em;
                font-weight: 400;
                font-style: italic;
                letter-spacing: .5px;
                -webkit-transition: all .3s linear;
                -moz-transition: all .3s linear;
                -ms-transition: all .3s linear;
                -o-transition: all .3s linear;
                transition: all .3s linear;
            }

            h1::before {
                font-size: .8em;
                vertical-align: super;
                margin-left: -1em;
            }

            h2 {
                clear: both;
                display: block;
            }

            h3 {
                margin: 0;
                font-size: .7em;
                color: $accent;
                font-weight: 100;
                text-transform: uppercase;
                letter-spacing: .4px;
            }

            p {
                margin: 0 0 .5em 0;
                color: $white;
                line-height: 1.2em;
                
            }

        }
        
        .showcase-box:hover{
            h1{
                color: $accent;
            }
        }


        @media only screen and (max-width: 700px) {

            .showcase-box {
                width: 70vw !important;
                
                h1{
                    font-size:1.5em;
                    font-weight: 100;
                }
                
                p{
                    font-size:.8em;
                    margin:.25em 0;
                }
                
            }

        

            .showcase-box:hover > h1 {
                color: $accent;
            }


        }
        
    }


}

.projects-archive {

    a {
        display: inline-block;
        line-height: 1.2em;
        padding: .5em 0;
        text-decoration: none;
        color: $white;          
        border-bottom: 1px solid $accent;

    }

    a:hover {
        color: $accent !important;
        border-bottom: 1px solid $white !important;
    }

}



@-webkit-keyframes color-change {
    0% { color: red; }
    50% { color: $accent; }
    100% { color: red; }
}
@-moz-keyframes color-change {
    0% { color: red; }
    50% { color: $accent; }
    100% { color: red; }
}
@-ms-keyframes color-change {
    0% { color: red; }
    50% { color: $accent; }
    100% { color: red; }
}
@-o-keyframes color-change {
    0% { color: red; }
    50% { color: $accent; }
    100% { color: red; }
}
@keyframes color-change {
    0% { color: red; }
    50% { color: $accent; }
    100% { color: red; }
}