$bg-color: #3131ef;
$light-color: #f0f8f7;
$white: #f0f8f7;

$text: #2b2c36;
$accent: #a3a3f4;
$blue-screen: #cacdf2;
$white-screen: #3131ef;

a {
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

#footer{
    height:80px;
}

#navigation{

    padding-top: 2em;
    text-align: center;

    div{
        width:90vw;
        max-width: 900px;
        margin:0 auto;
    }
    
    a{
        font-size:1.8em;
        margin:0 .25em;
        justify-content: center;
    }
    
}


#landing {

    margin-top:2em;
    min-height:440px;
    height:auto;
    

    h1 {
        font-family: "Canela";
        font-weight: 300;
        font-size: 2.2em;
        margin-bottom: .2em;
        color: $white;
        display: inline;
        font-style: italic;

        sup {
            font-family: "GT America Expanded";
            font-size: 12px;
            font-weight: 100;
            margin-bottom: 10px;
        }
    }


    p {
        margin: 0;
        font-size: 1.2em;
        line-height: 1.4em;
        font-weight: 300;
        color: $white;

        sup {
            font-weight: 300;
            font-style: italic;
            font-family: "Canela";
        }

    }

    a{
        text-decoration: none;
        padding:.1em;
        color: $white;

    }
    
    p a::after{
        content: "↗\00FE0E ";
        font-size:.8em;
    }
    
    p a:hover{
        color: $accent;
    }
     
    em {
        font-style: normal !important;
        font-family: "Canela";
        line-height: 1em !important;
        color: $white;
        font-size:1.2em;
    }
    
    em:hover{
        color:$accent;
    }

    
    details{
        font-size:1em;
        line-height:.8em;
        max-width: 90%;
        font-family:"GT America";
    }


    details summary::-webkit-details-marker {
      display:none;
    }

    details[open]{
        margin-top:1em;
    }
    details[open] > summary{
        display: none;
    }

    
    details a {
        font-family: "GT America";
        color: $accent;
    }
    
    details a::after{
        content: "";
    }
    
    details a:hover{
        color: $white-screen;
        background:$white;
    }
    
    @media only screen and (max-width: 780px) {
        min-height:380px;
    
        details{
            font-size:.8em;
            display: none;
        }
    }
     
    /* LANDING SHOWCASE */


    @media only screen and (max-width: 600px) {

        .hide,
        sup {
            display: none;
        }
        
    
        p {
            font-size: 1.2em;
            line-height: 1.4em;
        }

        em {
            font-size: .7em;
            line-height: .8em;
        }
    } 
}


.landing-style-container {
    position: absolute;
    display: flex;
    justify-content: center;

    .special {
        box-sizing: border-box;
        display: block;
        width: 80vw;
        max-width: 850px;
        margin-top:1em;
        
        p.intro{
            
            font-family:"Canela", "GT America", apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial;
            line-height:1.1em !important;
            font-size:2.8em !important;
            
            a{
                font-family:"Canela";
            }
            
            strong{
                font-weight:300;
                -webkit-animation: color-change 3s infinite;
                -moz-animation: color-change 3s infinite;
                -o-animation: color-change 3s infinite;
                -ms-animation: color-change 3s infinite;
                animation: color-change 3s infinite;
            }
            
            @media only screen and (max-width: 780px) {
             
                font-size:2.4em !important;
                
            }
            
        }
        

    }

    
    #landing-overlay{
        background: $white-screen;
        position: absolute;
        width:50vw;
        pointer-events: none;
        
        img{
            width:100%;
            mix-blend-mode: exclusion;
            max-width:400px;
        }
    }

    
    

}


#cbox{
    
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom:15px;
    text-align: center;
    z-index:999;
    margin:0 auto;
    
    button{
        padding:1em;
        font-family: "Canela";
        font-weight: 100;
        font-size:1em;
        border:0;
        background: none;
        color:#fff;
        mix-blend-mode: exclusion;
        margin:1em;
    }
    
    button:hover{
        color: $accent;
    }
    
    #cbox-here iframe{
        margin-right: 1em;
        mix-blend-mode: difference;
    }
    
}





#landing-works {
    
    margin-top:-2em;
    text-align: center;
    
    .box-inner{
        max-width:1100px;
    }

    a {
        text-decoration: none;

    }

    a.btn {
        font-family: "Canela";
        color: $accent;
        text-decoration: none;
        font-weight: 100;
        font-size: 2em;

    }

    a.btn:hover {
        color: $white;
    }

    .landing-projects{
        
        a{
            width:290px;
            padding:.5em 1em;
            display: inline-block;
            
            h2{
                font-weight: 100;
                font-family:"Canela";
                font-style: italic;
                font-size:2.4em;
                color: $white;
                -webkit-transition: all .3s linear;
                -moz-transition: all .3s linear;
                -ms-transition: all .3s linear;
                -o-transition: all .3s linear;
                transition: all .3s linear;
            }
            
            h3{
                font-weight:100;
                font-size:.6em;
                letter-spacing: .5px;
                color:$accent;
                text-transform: uppercase;
            }
            
        }
        
        a:hover{
            
            h2{
                color: $accent;
            }
            
        }
        
        
    }
    
}


    h2 {
        font-family: "GT America Expanded";
        display: block;
        color: $white;
        margin: 0 auto;
        font-weight: 100;
        font-size: 1em;
        text-align: center;
    }

#landing-chia {

    margin-left:-1em;
    margin:0 auto;
    width: 90%;
    max-width: 900px;
    
    .box-inner {
        padding-top: 100px;
        
    }

    p {
        color: $white;

    }

    .thing {
        
        margin-top: 50vh;
        position: absolute;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        pointer-events: none;
        z-index: 99;
        
        @media only screen and (max-width: 700px) {
            display: none;
            }
    }


    .landing-word {
        position: relative;
        max-width: 500px;
        clear: both;
        display: flex;
        justify-content: space-around;

        h1 {
            font-family: Canela;
            font-weight: 100;
            font-style: italic;
            display: inline;
            font-size: 2.8em;
            line-height: .9em !important;
            vertical-align: top;
            color: $white;
            margin: 0;
        }

        p {
            padding: 1em;
            margin-top: -1em;
            max-width: 300px;
            color: $white;
            vertical-align: top;

            a {
                color: $accent !important;
            }
        }
        
    }
    
    .social{
        text-align: center;
        
        a{
            border-bottom: 1px solid $white;
            padding:.25em;
        }
        
    }
    
    .showcase-container.landing{
        padding:1em;
        border:1px solid $white;
        max-width: 700px;
        max-height:250px;
        overflow-y: scroll;
        box-sizing: border-box;
        color: $white;
    }
    
    
    .showcase-container.landing .projects-archive{
         
        position: relative;
        box-sizing: border-box;
        
    }
    
    .showcase-container {
        
        margin:1em 0;
        display: flex;
        flex-wrap: wrap;
        
            a{
                opacity:1;
            }

        
        .showcase-box {
            display: inline-block;
            border-bottom: 1px solid $white;
            max-width: 75% !important;
            min-width: 280px;
            margin: 0 .5em 1.5em .5em;
            padding-bottom: 1em;

            h1 {
                font-family: Canela;
                color: $white;
                margin: 0;
                font-size: 1.8em;
                font-weight: 400;
                font-style: italic;
                letter-spacing: .5px;
                -webkit-transition: all .3s linear;
                -moz-transition: all .3s linear;
                -ms-transition: all .3s linear;
                -o-transition: all .3s linear;
                transition: all .3s linear;
            }

            h1::before {
                font-size: .8em;
                vertical-align: super;
                margin-left: -1em;
            }

            h2 {
                clear: both;
                display: block;
            }

            h3 {
                margin: 0;
                font-size: .7em;
                color: $accent;
                font-weight: 100;
                text-transform: uppercase;
                letter-spacing: .4px;
            }

            p {
                margin: 0 0 .5em 0;
                color: $white;
                line-height: 1.2em;
                
            }

        }
        
        .showcase-box:hover{
            h1{
                color: $accent;
            }
        }


        @media only screen and (max-width: 700px) {

            .showcase-box {
                width: 70vw !important;
                
                h1{
                    font-size:1.5em;
                    font-weight: 100;
                }
                
                p{
                    font-size:.8em;
                    margin:.25em 0;
                }
                
            }

        

            .showcase-box:hover > h1 {
                color: $accent;
            }


        }
        
    }


}

#landing-more{
    
    // outline: 1px solid red;
    padding: 5vh 0;
    margin: 0 auto;
    min-height: 100vh;
    width:100%;
  //  color: $white-screen;
  //  background: $white;
    
    p{
        color: $white;
    }
    
    .box-inner{
        max-width:1500px;
        width:90%;
    }
    
    
    .projects-archive {

        a { 
            font-family:"Canela";
            font-weight: 100;
            font-size:1.6em;
            line-height: 1.6em;
            
            display: inline;
            
            padding: .25em;
            margin:.5em .1em;
            
            text-decoration: none;
            color: $white;
        //    color: $white-screen;          

        }

        a:hover {
            color: $accent;
        }

    }

    
}



@-webkit-keyframes color-change {
    0% { color: red; }
    50% { color: $accent; }
    100% { color: red; }
}
@-moz-keyframes color-change {
    0% { color: red; }
    50% { color: $accent; }
    100% { color: red; }
}
@-ms-keyframes color-change {
    0% { color: red; }
    50% { color: $accent; }
    100% { color: red; }
}
@-o-keyframes color-change {
    0% { color: red; }
    50% { color: $accent; }
    100% { color: red; }
}
@keyframes color-change {
    0% { color: red; }
    50% { color: $accent; }
    100% { color: red; }
}