@import "reset.scss";
@import "fonts.css";
@import "colors.scss";


/* MAIN STRUCTURAL ELEMENTS */

body {
  cursor: default;
  background: $bg;
  color: $text;
  
  text-rendering: optimizeLegibility;
  font-display: swap;
  font-family: "Bau Pro", Helvetica, Arial, Sans-Serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
  /* Code for Firefox */
  color: $bg-color;
  background: $accent;
}

::selection {
  color: $bg-color;
  background: $accent;
}


.container {
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  
}

.box {
  display: flex;
  box-sizing: border-box;
  place-items: center;
  justify-content: center;
  width: 100%;

  .box-inner {
    margin: 0 auto;
  }

  .inner-center {
    padding: 1em;
  }
}



h1,
h2,
h3 {
  width: 100%;
}


h1 {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: .2em;
}


h3 {
  font-size: 1.25em;
  letter-spacing: -.25px;
  margin: 0;
  padding: .5em 0;
}

h1, h3{
  font-family: "Bau Pro";
  font-weight: 300;
}

p{
  font-family: "Bau Pro";
}

a {
  -webkit-transition: all .3s cubic-bezier(.17, .67, .83, .67);
  -moz-transition: all .3s cubic-bezier(.17, .67, .83, .67);
  -ms-transition: all .3s cubic-bezier(.17, .67, .83, .67);
  -o-transition: all .3s cubic-bezier(.17, .67, .83, .67);
  transition: all .3s cubic-bezier(.17, .67, .83, .67);
  color: $link;
}

a:hover{
  color: $link-hover;
}


.header {
  position: fixed;
  z-index: 9;
  height: 80px;
  width: 100%;
  top: 0px;
  box-sizing: border-box;
  padding: 2.5em;
  display: flex;
  justify-content: space-between;
  background-repeat: repeat-x;
  background-size: contain;
  
  font-family: 'Inconsolata', monospace;

  a {
    color: $text;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: .8rem;
    font-weight: 100;
    text-transform: uppercase;
    font-display: swap;
    padding: .25em;
    margin: .15em;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
  }
  
  a:hover{
    background: $white;
    color: $bg-color;
    
  }
  
  .header-left{
  }

  .header-right a {
    margin-left: 2em;
  }

  .header-right a:hover {
    cursor: ne-resize;
  }

  @media only screen and (max-width: 700px) {

    height: 50px;
    padding: 1em .5em;
    
    .header-left {
      display: none;
    }

    .header-right {
      width: 100%;
      text-align: center;
    }

    .header-right a {
      margin-left: 0;
    }


  }

}

#about {

  padding-top: 100px;
  cursor: help;
  
  .box-inner{
    width: 900px;
    max-width: 90vw;
    margin: 0 auto;
  }

  img.chia {
    position: fixed;
    overflow: hidden;
    z-index: -9;
    padding-top: 100px;
    top: 8vh;
    right: 10vw;
    width: 300px;
    height: auto;
    mix-blend-mode: darken;
    background: $bg;
    opacity: 1;
    pointer-events: none;
  }

  p {
    text-align: left;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  }
  
  .hello{
    font-size: 1.25em;
    max-width: 600px;
  }
  
  
    @media only screen and (max-width: 700px) {

      .col {
        flex-wrap: nowrap;
      }

      .col-third,
      .col-half {
        margin: 0 !important;
      }

      .col-half.about {
        width: 100%;
        flex: none;
      }

      .col-third.links {
        display: block;
        max-height: 150px;
        overflow-y: scroll;
        width: 100%;
        max-width: none;
        flex: none;
      }

      .col-third.experience {
        width: 100%;
      }


    }

  

  @media only screen and (max-width: 850px) {

    box-sizing: border-box;
    padding: .5em;
    margin: 1em;
    font-size: 1em;

    p {
      max-width: 100%;
    }

    .intro-p {
      max-width: 100vw;
    }

    .box-inner {
      padding: 1em;
    }

    img.chia {
      height: 100vh;
      width: auto;
    }

  }

}

.credentials{
  
  a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9em;
    margin-right: 1em;
    font-family: "Inconsolata";
  }
  
}

.why {

  display: none;
  margin: 50px auto;

  h1 {
    text-transform: uppercase;
    font-size: .9em;
  }

  ol {
    list-style: none;
    counter-reset: why;

    li {
      width: 100%;
      max-width: 600px;
      text-align: left;
      margin: 0 auto;
      margin-bottom: 1em;
      counter-increment: why;
      

      h3 {
        font-size: 2em;
        line-height: 120%;
        padding: 0;
      }

      p {
        text-align: left;
      }
      
      
    }

    li::before {
      position: absolute;
      margin-left: -40px;
      content: counter(why);
      color: $white;
      border: 1px solid $white;
      padding: .15em;
      text-align: center;
      border-radius: 100px;
      height: 30px;
      width: 30px;
      display: inline-block;
      font-size: 1em;

      @media only screen and (max-width: 600px) {
        display: none;
      }
    }

    
      @media only screen and (max-width: 600px) {
        width: 90vw;
        
        li{
          margin-left: -2em;
        }
        
      }
    
    

  }

}


#links {

  width: 100%;
  max-width: 1200px;
  margin: auto;

  .col-third {
    margin: 0 .5em;
    text-align: left;
    padding-bottom: 1em;
  }

  .col-third h3 {
    text-transform: uppercase;
    font-size: .8em;
    margin-bottom: 1em;
  }

  u {
    line-height: 1.25em;
    text-decoration: none;
  }

  .col-third a {
    display: block;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 300;
    text-align: left;
    margin-bottom: .5em;


    p {
      line-height: 1.25em;
      opacity: 0.75;
      margin: 0;
      font-family: "GT America";
      padding: .25em 0;
      font-size: .6em;
    }

  }

  .col-third a:hover > u {
    border-bottom: 1px solid $accent;
    //text-decoration: underline;
  }


  sup {
    font-size: .6em !important;
  }

}



#footer {
  
  position: relative;
  width: 100%;
  max-width: 1050px;

  margin:0 auto;
  box-sizing: border-box;
  text-align: center;
  padding: 2.5em;
  margin-top: 80px;
  display: block;
  

  ._foot {

    margin: 0 auto;
    text-align: right;
    
    font-family: 'Inconsolata', monospace;
    
    a {
    color: $text;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: .8rem;
    font-weight: 100;
    text-transform: uppercase;
    font-display: swap;
    padding: .25em;
    margin: .15em;
    margin-left: 1em;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    }

    a.about {
      float: left;
      text-align: left;
    }

  }

  @media only screen and (max-width: 600px) {

    margin-top: 0;  
    height: auto;
    padding: 1em;
    

    .footer-links {
      margin-top: 1em;
    }

    ._foot {
      flex-wrap: wrap;
      margin: 2em 0;

      ._left {
        width: 100%;
      }

      ._right {
        width: 100%;
        max-width: 100%;
        text-align: center;

        a {
          margin-left: 0;
        }

      }

    }

  }
}

.col {

  margin: 0 auto;
  width: 95%;
  max-width: 1000px;
  box-sizing: border-box;
  padding: 1em 0;
  margin: 0 0 1em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .col-third {
    margin: .25em;
    width: 31%;
  }


  @media only screen and (max-width: 800px) {
    justify-content: flex-start;

    .col-third {
      width: 47%;
    }

  }

  @media only screen and (max-width: 560px) {

    .col-third {
      width: 100%;
      margin-bottom: 1.5em;
    }

  }


}

.footer-newsletter {

  text-align: center;
  margin-left: 1em;
  height: 60px;
  margin-bottom: 1.5em;

  input[type="text"] {
    display: inline-block;
    border: 0;
    height: 40px;
    width: 80% !important;
    max-width: 360px;
    padding: 1em;

  }

  input[type="submit"] {
    position: relative;
    left: 0;
    display: inline-block;
    box-sizing: border-box;
    padding: 1em;
    background: none;
    color: $white;
    border: 0;
    font-size: 1.3em;
    margin: 0;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
  }

  input[type="submit"]:hover {
    position: relative;
    left: 10px;
  }

  @media only screen and (max-width: 600px) {

    margin: 0;

    input[type="submit"] {
      padding: .5em;
    }


  }
}



#footer.footer-alt {

  .footer-links {

    a {
      color: #ACB2B4;
    }
  }

  .footer-newsletter {


    input[type="submit"] {
      color: $black !important;
    }
  }

}




details[open] summary ~ * {
  animation: sweep .75s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-left: -10px
  }

  100% {
    opacity: 1;
    margin-left: 0;
  }
}



.portfolio-project-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  align-self: top;

  .project-box:hover {
    cursor: e-resize;
    filter: grayscale(0);
  }

  a {
    text-decoration: none;
  }

  .project-box {
    width: 500px;
    overflow: hidden;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    align-self: top;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    margin-bottom: 2em;

    h2 {
      font-style: normal;
      font-size: 1.5em;
      color: $white;
      margin-bottom: .1em;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;
      -ms-transition: all .3s linear;
      -o-transition: all .3s linear;
      transition: all .3s linear;
    }


    h3 {
      text-transform: uppercase;
      text-align: left;
      display: block;
      font-size: .6em;
      letter-spacing: .5px;
      font-weight: 300;
      color: $accent;
      padding: 0;
      margin: 0;
      cursor: e-resize;
    }



    .quote-block {
      margin-bottom: .5em;
      max-width: 100%;
      width: 100%;
    }

    img {
      overflow: hidden;
      opacity: 0.8;
      filter: grayscale(1);
      max-width: 100%;
      padding: 0 .5em;
      margin: auto;
      text-align: center;
      cursor: e-resize;

      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;
      -ms-transition: all .3s linear;
      -o-transition: all .3s linear;
      transition: all .3s linear;

    }

    .btn {
      display: none !important;
    }


  }


  .project-box:hover {
    img {
      filter: grayscale(0);
    }

    a {
      color: $accent !important;
    }


  }

  .project-unavailable {
    cursor: not-allowed !important;
  }

  .project-box-desc {
    margin: 0 .5em;
    width: 100%;
    text-align: left;
  }

  .quote-block {
    text-rendering: optimizelegibility;
    color: $white;
    line-height: 22px;
    font-size: 14px;
    padding: 0;
    font-size: 1em;
    text-align: left !important;
    cursor: e-resize;
  }

  h2 {
    padding: .3em 0 0 0;
    margin: 0;
    display: inline-block;
    font-weight: 300;
    font-style: italic;
    font-size: 2.1em;
    color: $accent;
    line-height: 1.1em;
    cursor: e-resize;
  }


  @media only screen and (max-width: 1100px) {

    .project-box {
      width: 390px;
    }
  }


  @media only screen and (max-width: 800px) {

    h2 {
      margin-top: .25em;
      font-size: 1.8em;
      text-align: left;
    }

    .project-box {
      max-width: 600px;
      width: 100%;
      text-align: left;

      h3 {
        display: none;
      }

      img {
        width: 100%;
      }

      .btn {
        display: none;
      }
    }



    .project-box:hover {
      img {
        filter: grayscale(1);
      }

      h2::after {
        color: #fff;
        margin-left: .25em;
      }

    }

  }

}


// Portfolio


#portfolio {
  background: none;
  display: flex;
  justify-content: center;
  width: 100vw;

  .box-inner {
    max-width: 1200px;
    margin-top: 100px;
  }

  .project-box h2 {
    font-size: 2em;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
  }

  .project-box:hover {
    h2 {
      color: $accent !important;
    }
  }

}


.portfolio-container {
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.portfolio-nav {
  padding: 1em;
  text-align: center;

  a {
    font-style: italic;
    font-weight: 100;
    font-size: 2rem;
    margin: 0 1em;
    opacity: 0.7;
    background: none !important;
    cursor: pointer;
    color: $white;
    white-space: nowrap;

    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;

    @media only screen and (max-width: 850px) {
      padding: .25em;
    }

  }

  a:hover {
    opacity: 1;
    color: $accent;

  }

}


/* MAIN ELEEMENTS */

p {
  font-size: 1rem;
  font-family: "Bau Pro";
  
  a{
    text-decoration: none;
    color: $link;
  }
  
}


li {
  font-size: .9em;
  line-height: 1.6em;
  margin-bottom: 1em;
  max-width: 80%;

}


mark {
  padding: .2em;
  filter: hue-rotate(90deg);
  mix-blend-mode: difference;
}

hr {
  border: 0;
  margin: 0;
  height: 20px;
}

.cursor {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -50%;
  left: -50%;
  margin: -25px 0 0 -25px;
  border-radius: 50%;
  background-color: #fff;
  backface-visibility: hidden;
  transition: transform 0.5s ease-out;
  mix-blend-mode: difference;
  z-index: 999;
  pointer-events: none;
}
  
.cursor.is-moving {
  transform: scale(0.9);
}

