@import 'reset.scss';
@import 'aos.css'; // for animations
@import "fonts.css";

$bg-color: #141317;
$light-color: #f0f8f7;
$white: #f0f8f7;
$black: #141317;

$accent: #3131ef;

/* MAIN STRUCTURAL ELEMENTS HEHEHE */

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-moz-selection { /* Code for Firefox */
  color: $white;
  background: $accent;
}

::selection {
  color: $white;
  background: $accent;
}


.container {
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    font-family:"GT America", Helvetica;
}

.box {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    justify-content: center;
    background: none;

    .box-inner {
        margin: auto;
        align-self: center;
    }

    .inner-center {
        padding: 1em;
    }
}

.box {

    h1 {
        font-family: 'GT America Expanded';
        font-size: 1.8em;
        margin-bottom: .2em;

        sup {
            font-family: 'GT America Expanded';
            font-size: 12px;
            font-weight: 100;
            margin-bottom: 10px;
            line-height: .5em;
        }
    }


    p {
        font-family: "GT America";
        line-height: 1.7em;
    }
}

.header {
    z-index: 999;
    position: absolute;
    height: 80px;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    background-repeat: repeat-x;

    .header-left a {
        font-family: 'Canela';
        font-weight: 100;
        font-size: 1.1em;
        text-decoration: none;
        color: #9a9a9a;
    }

    .header-left a:hover {
        background: none;
        mix-blend-mode: difference;
    }

    .header-left {
        font-size: 1.4em;
    }

    .header-right a {
        text-decoration: none;
        color: #9a9a9a;
        font-size:1em;
        margin: .3em;
        padding: .5em;
        font-family: 'GT America';
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    }

    .header-right a:hover {
        mix-blend-mode: exclusion;
        text-shadow:0 0 20px #fff;
    }

}

#about {

    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    cursor: help;
    font-family:"GT America";

    padding: 2em;
    margin-top: 8vh;
    
    .masterpiece{
        justify-content: center;
        text-align: center;
        max-width:90vw;
        img{max-width:220px;width:45%;margin:1em;}
    }

    .box-inner {
        max-width: 700px;
    }

    img.chia {
        float:left;
        margin-right:-8em;
        width: 60vw;
        max-width: 400px;
        padding: 1em 2em;
        opacity: 1;
        mix-blend-mode: lighten;
        pointer-events: none;

    }

    p {
        color: $light-color;
        font-size:1.2em;
        line-height:1.55em;
        text-align: left;
        font-weight: 300;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        a {
            color: blue;
            background: $white;
            border: 1px solid $white;
            display: inline-block;
            font-size: 1em;
            padding: .1em .2em 0 .2em;
            line-height: 1.3em;
            text-decoration: none;
            cursor: pointer;
            font-family:"Canela";
            font-weight:100;
        }

        a:hover {
            background: none;
            color: $white;
            border: 1px solid $accent;
        }

    }
    
    h2{
        font-family:"Canela";
        text-align: center;
        color:$accent;
        margin:1em;
        font-size:2em;
        font-weight:600;
    }

}

.social {
        margin-top: 2em;

        a {

            text-decoration: none;
            color: $accent;
            margin-right: 1em;
            padding-top: .5em;
        }

        a:hover {
            text-shadow:0 0 10px $accent;
        }
    }


#footer {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: 190px;
    padding: 2em;
    margin-top: 1em;
    display: block;

    .footer-links {

        a {
            float: right;
            font-family: "GT America";
            text-decoration: none;
            display: inline-block;
            color: $light-color;
            cursor: e-resize;
            margin: 0 1em;
            opacity:0.8;
            -webkit-transition: all .3s linear;
            -moz-transition: all .3s linear;
            -ms-transition: all .3s linear;
            -o-transition: all .3s linear;
            transition: all .3s linear;
        }

        a::after {
            content: " ↗\00FE0E";
        font-family:"Segoe UI Symbol";
        }

        a:hover {
            mix-blend-mode: exclusion;
            opacity:1;
            text-shadow:0 0 20px #000;
        }

        a.about {
            float: left;
        }
    }
    
    .footer-newsletter{
        
        text-align: left;
        margin-left:1em;
        height:60px;
        margin-bottom:1.5em;
        
        h3{
            display: inline-block;
            font-family:"Canela";
            font-weight:100;
            font-style: italic;
            font-size:2.2em;
            line-height:60px;
            height:50px;
            margin-right:1em;
            vertical-align: bottom;
        }
        
        input[type="text"]{
            display:inline-block;
            font-family: "GT America";
            border:0;
            height:40px;
            width:80% !important;
            max-width:300px;
            padding:1em;
            
        }
        
        input[type="submit"]{
            display: inline-block;
            box-sizing: border-box;
            padding:1em;
            background:none;
            color:#fff;
            border:0;
            font-size:1.3em;
            margin:0;
            -webkit-transition: all .3s linear;
            -moz-transition: all .3s linear;
            -ms-transition: all .3s linear;
            -o-transition: all .3s linear;
            transition: all .3s linear;
        }
        
        input[type="submit"]:hover{
            padding-left:1.5em;
        }
        
        
    }
    
}



#footer.footer-alt {

    .footer-links {

        a {
            color: #000;
        }
    }
    
        .footer-newsletter{
            
            
        input[type="submit"]{
            color: $black !important;
        }
        }
        

}


blockquote a, p a, li a, .summary-details a{
    opacity:0.75;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

a:hover{
    opacity:1;
}


.portfolio-project-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-self: top;

    .project-box:hover {
        cursor: e-resize;
        filter: grayscale(0);
    }
    
    .project-box {
        width: 500px;
        overflow:hidden;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        align-self: top;
        padding: 1em;
        display: flex;
        flex-wrap: wrap;
        text-decoration: none;
        margin-bottom: 2em;

        h2{
            margin-top:.25em;
            font-size:2em;
            color: $white;
            margin-bottom:.1em;
            -webkit-transition: all .3s linear;
            -moz-transition: all .3s linear;
            -ms-transition: all .3s linear;
            -o-transition: all .3s linear;
            transition: all .3s linear;
        }
        
        .quote-block{
            margin-bottom: .5em;
        }

        img {
            overflow:hidden;
            max-width: 100%;
            padding: 0 .5em;
            margin: auto;
            text-align: center;
            cursor: e-resize; filter:invert(0);
           
            -webkit-transition: all .3s linear;
            -moz-transition: all .3s linear;
            -ms-transition: all .3s linear;
            -o-transition: all .3s linear;
            transition: all .3s linear;
        }

        .btn {
            display: none !important;
        }



    }
    
    
    .project-box:hover{
        img{
            filter:invert(1);
        }

        
    }

    .project-unavailable {
        cursor: not-allowed !important;
    }

    .project-box-desc {
        margin: 0 .5em;
        text-align: left;
    }

    .quote-block {

        font-family: "GT America";
        text-rendering: optimizelegibility;
        color: #ededf7;
        line-height: 22px;
        font-size: 14px;
        padding: 0;
        font-size: 1em;
        text-align: left !important;
        cursor: e-resize;
    }

    h2 {
        padding:.3em 0 0 0;
        margin: 0;
        display: inline-block;
        font-weight: 300;
        font-style: italic;
        font-family: "Canela", Helvetica, Arial;
        font-size: 2.1em;
        color: $accent;
        line-height: 1.1em;
        cursor: e-resize;
    }

    sup {
        color: $accent;
        vertical-align: normal;
        font-size: .1em;
        font-weight: 100;
        font-style: normal;
        font-family: 'GT America Expanded';
    }

    h3 {
        font-family: "GT America";
        text-transform: uppercase;
        text-align: left;
        display: block;
        font-size: .8em !important;
        letter-spacing: .5px;
        color: #9a9a9a !important;
        padding:0; margin:0;
        cursor: e-resize;
    }


    @media only screen and (max-width: 1100px) {
        
        .project-box{
            width:390px;
        }
    }
    
    
    @media only screen and (max-width: 850px) {
        
        h2 {
            font-size: 1.8em;
            text-align: left;
        }
        
        h2::after{
            content: " →\00FE0E";
            margin-left:.1em;
            transition: all .1s ease-in-out;
        }
        

        .project-box {
            max-width: 600px;
            width: 100%;
            text-align: left;
            margin-bottom:0;
            
            h3{display:none;}
            
            img {
                width: 100%;
            }

            .btn {
                display: none;
            }
        }
        
        

        .project-box:hover {
            img {
                filter: grayscale(1);
            }
            
            h2::after{
                color:#fff;
                margin-left:.25em;
            }

        }

    }

}

#portfolio-list h3{text-align:left;}

#projects {

    top: 15%;
    margin: 1em;

    h1 {
        margin: 0;
        color: $white;
        font-size: .9em;
        font-family: "aktiv-grotesk-extended";
        text-align: center;
    }



    .projects-archive {
        padding-top: 1em;
    }

    .projects-archive a {
        color: $white;
        margin: .5em .8em .5em 0;
        padding: .1em;
        line-height: 2em;
        font-size: .9em;
        text-decoration: none;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
    }

    .projects-archive a:hover {
        background: blue;
    }


    .projects-details {
        padding-top: 15%;

        p {
            font-size: 13px;
            color: $white;
            margin: 0;
            padding-bottom: 1em;
            line-height: 18px;
        }

        a h3 {
            margin: 0;
            color: blue;
            font-size: 15px;

            -webkit-transition: all .3s linear;
            -moz-transition: all .3s linear;
            -ms-transition: all .3s linear;
            -o-transition: all .3s linear;
            transition: all .3s linear;
        }

        a h3:hover {
            color: blue;
        }

        h3 {
            margin: 0;
        }

        a {
            margin: 0;
            text-decoration: none;
            box-sizing: border-box;
        }
    }

}



// Portfolio

.portfolio-link {
    text-decoration: none;
}

.portfolio-container {
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}



.portfolio-nav {
        text-align: center;
        font-size: 1.2em;

        a {
            font-family: "GT America Expanded";
            margin: 0 1em;
            background: none !important;
            cursor:pointer;
            -webkit-transition: all .3s linear;
            -moz-transition: all .3s linear;
            -ms-transition: all .3s linear;
            -o-transition: all .3s linear;
            transition: all .3s linear;
        }

        a:hover{
            color:blue;
            mix-blend-mode: difference;
        }
}

.portfolio-box {

    display: inline-block;
    width: 300px;
    text-align: left;
    padding: 1.3em;

    img {
        width: 100%;
    }

    h2 {

        font-weight: 100;
        margin: 0;
        font-size: 1em;
        text-decoration: none;
        color: #2b13af;
    }

    p {
        margin: 0;
        margin-top: -7px;
        color: #5e5d62;
        font-size: .8em;
    }
}

.portfolio-box:hover {
    background: #f6e404;
}


.love-container {

    justify-content: center;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    margin-left: -1em;

    .love-col {
        margin: 0 1em 1em 1em;
    }

    .love-col h2 {
        padding-bottom: .5em;
    }

    .love-col p {
        max-width: 250px;
        margin: 0 0 .5em 0;
        line-height: 1.35em;
    }

    .love-col p::before {
        content: "↘\00FE0E ";
        font-size: .8em;
        color: $accent;
        padding-right: .3em;
        line-height: 0;
        font-family:"Segoe UI Symbol";
    }
    
    p a{
        color: $accent;
    }

}


/* MAIN ELEEMENTS */

li {
    font-size: .9em;
    line-height: 1.6em;
    margin-bottom: 1em;
    max-width: 80%;

}


mark {
    padding: .2em;
    filter: hue-rotate(90deg);
    mix-blend-mode: difference;
}

hr {
    margin: 3em 0 3em 0;
    height:20px;
}




.cursor {
    position: absolute;
    width: 30px;
    height: 30px;
    top: -50%;
    left: -50%;
    margin: -15px 0 0 -15px;
    border-radius: 100%;
    background-color: white;
    backface-visibility: hidden;
    transition: transform 0.2s ease-out;
    mix-blend-mode: difference;
    z-index: 1000;
    pointer-events: none;
}


.cursor.is-moving {
    transform: scale(.8);
}

.cursor.is-hovering {
    transform: scale(2.2);
}
