$light-color: #f0f8f7;
$white: #f0f8f7;

$dark-lightest: #605757;
$dark-mid: #262c2b;

@import "fonts.css";

::-moz-selection {
    background: #161f8d;
    color: #f8eded;
}

::selection {
    background: #161f8d;
    color: #f8eded;
}

* {
    cursor: auto !important;
}

html {
    scroll-behavior: smooth;
}

box {

    margin: 0;
    padding: 0;
    left: 0;

    .box-inner {
        position: absolute;
        left: 0;
        padding: 0;
        margin: 0;
        width: 90%;
        left: 0;
    }
}

a {
    text-decoration: none;
}


img {
    max-width: 100%;
    align-content: center;
    justify-content: center;
    vertical-align: center;
    margin: auto;
    display: block;
    padding: 1em;
}

@media only screen and (max-width: 600px) {
    #portfolio img {
        max-width: 120%;
        margin-left: -10%;
    }
}

#navigation .white {
    a {
        color: $white;
    }

}


.box {
    background: none;
    width: 100%;
    margin: 0 !important;
}

.box-inner {
    margin: 2em !important;
}



.box-still {
    position: fixed;
    top: 0;
}


.portfolio-landing {
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.portfolio-landing:hover {

    h1 {
        color: transparent !important;
        -webkit-text-stroke: 1px $white;

    }
}

#portfolio {

    .summary-details a,
    p a {
        background: none !important;
        border-bottom: 1px solid blue;
        color: cyan !important;
        font-family: "aktiv-grotesk-extended";
        font-size: .9em;
    }

    p a::before {
        content: "○ ";
        color: cyan !important;
    }


    .portfolio-links {
        text-align: center;

        a {
            font-family: "aktiv-grotesk-extended";
            padding: .5em !important;
            background: none !important;
            color: #2d1080 !important;
            border-bottom: 1px solid #2d1080;
        }


        a:hover {
            background: yellow !important;
            border: none;
        }

        padding:1em;
    }

    .portfolio-landing {
        vertical-align: center;
        justify-content: center;

        h1 {
            text-align: center;
            font-size: 3em;
            color: $white;
            flex-basis: 100%;
        }

        padding:1em;

        h3 {
            font-size: 1.3em;
            font-family: "aktiv-grotesk-extended";
        }


        p {
            margin: .5em;
        }

        .portfolio-overview {
            text-align: center;
            margin: 0;

            p {
                font-size: 1.1em;
                font-family: "Aktiv-grotesk-extended";
                line-height: 1.4em;
            }
        }

        .project-contents {
            display: block;
            text-align: center;
            margin-top: 0 !important;

            a {
                display: inline-block;
                max-width: 130px;
                margin: 0 .6em 0 .6em;
                font-family: "Sporting Grotesque";
                font-size: .8em;
                border-bottom: 1px solid #f4e9e9;
                line-height: 1em;
                padding: .3em;
                text-decoration: none;

                -webkit-transition: all .3s linear;
                -moz-transition: all .3s linear;
                -ms-transition: all .3s linear;
                -o-transition: all .3s linear;
                transition: all .3s linear;
                color: $white;
            }

            a:hover {
                background: $white;
                color: #000;
                text-decoration: none;
            }
        }


        @media only screen and (max-width: 600px) {
            h1 {
                font-size: 2em;
                line-height: 1em;
            }


            .project-contents {
                display: block;
                float: none;
                margin: 0;
            }

            .portfolio-overview {
                float: none;
                font-size: .8em;
                width: 80%;
            }
        }



    }

    .portfolio-last {
        h3 {
            text-align: center;
        }

    }

    .portfolio-description {

        vertical-align: center;
        justify-content: center;
        display: flex;

        a {
            background: #2b13af;
            padding: .1em;
            text-decoration: none;
            color: #fdf6f6;
            -webkit-transition: all .3s linear;
            -moz-transition: all .3s linear;
            -ms-transition: all .3s linear;
            -o-transition: all .3s linear;
            transition: all .3s linear;
        }

        a:hover {
            background: yellow;
            color: $dark-mid;
        }

        h1 {
            font-size: 1.8em;
            padding: 0;
            max-width: 650px;
            padding: 0 0 .3em 0;
        }

        h2 {
            font-family: "aktiv-grotesk-extended";
            font-weight: 800;
            font-size: .9em;
            text-transform: uppercase;
            letter-spacing: .7px;
            font-weight: 400;
            color: #2b312f;
            padding: 1.5em 0 0 0;
        }

        h3 {
            font-size: 1.3em;
            font-family: "aktiv-grotesk-extended";
            padding-top: .6em;
        }

        h3::before {
            content: "⟶ ";
        }


        @media only screen and (max-width: 600px) {
            p {
                padding-right: 0 !important;
            }
        }

        p {
            font-size: .9em !important;
            color: #435262;
            line-height: 1.9em;
            margin: .3em 1.3em .3em .3em;
            max-width:75%;
            padding-left: .2em;
            padding-bottom: 1em;

        }

        p strong {
            font-family: "aktiv-grotesk-extended";
            font-weight: 800;
            border-bottom: 1px solid $white;
        }

        .side-description {
            float: right;
            display: inline-block;
            width: 200px;
            margin: 1.2em 1.5em 1.2em 1.2em;
            border-top: 1px solid #96979b;
            border-bottom: 1px solid #96979b;
            color: $dark-mid;

            p {
                padding: .3em;
                margin: 0;
            }
        }

        .description {
            background: $dark-mid;
            padding: 1.4em;
            line-height: 1.4em;
            font-size: 1em;
            margin-bottom: 1em;
            color: $light-color;
        }

        blockquote {
            box-sizing: border-box;
            font-size: 1em !important;
            padding: 1em;
            margin-bottom: 2em;
            border-top: 1px solid $dark-mid;
            border-bottom: 1px solid $dark-mid;
            color: $dark-lightest;
            line-height: 1.5em;

            h3 {
                margin: 0;
                font-family: "aktiv-grotesk-extended";
                font-size: 19px;
            }

        }

    }
}

/* SPECIAL */

.summary-container {
    
    padding: 1em;
    margin-top: 1em;
    font-size:1.2em;
    
    display:flex;
    flex-wrap: wrap;
    justify-content: center;


    p{
        text-align: left !important;
        max-width:500px !important;
        line-height:1.7em !important;
        padding:0;
    }

    
    .summary-details{
        width:240px;
    }
    
    .summary-add::before{
        content: "◖";
    }

    .summary-add{
        width:100%;
        font-size:.7em;
        
        strong{
            font-size:.9em;
            padding-right:.3em;
        }
        
    }

    @media only screen and (max-width: 800px) {
        
        .summary-details{
            width:100%;
        }
        
        p{
            max-width:100%;
        }
        
    }
 

}

.quote-block {
    text-align: center !important;
    color: #2c2929;
    font-size: 2.6em !important;
    padding: 1.5em 10% .5em 10%;
    font-family: moret, serif;
}

.persona {
    border-bottom: 1px solid #c8dee3;
    margin: 1em;
    padding: .5em;

    img {
        max-width: 100%;
        width: 300px;
        float: right;
        margin: 1em;
    }

    h3 {
        font-family: 'Sporting Grotesque' !important;
    }
}

.p-emphasis {
    font-weight: 800;
    max-width: 90%;
    font-size:1.4em;
    font-family: "aktiv-grotesk-extended" !important;
    padding:1.4em;
    text-align: center;
}

.summary-add {
    text-align: left;
    display: block;
    padding: .2em;
    width: 80%;
    max-width: 600px;
    font-size: .9em;
    margin-bottom: .3em;

    strong {
        font-weight: 800;
        font-family: 'Sporting Grotesque';
        font-size: 1em;
        padding-right: .5em;
        line-height: 1.1em;
    }
}

.portfolio-large {
    margin: 4em 0 2em 0 !important;
    padding: 1em;
    min-height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    vertical-align: center;
    cursor: help !important;

    .portfolio-large-center {
        margin: auto;
    }

    h1 {
        cursor: help !important;
        text-align: center !important;
        font-size: 2em !important;
        line-height: 1em;
    }


    a {

        cursor: pointer !important;
        font-size: 1.2em;
        background: #000 !important;
        padding: .5em !important;
        font-family: "Aktiv Grotesk";
        letter-spacing: .05em;
    }

    a:hover {
        background: $white !important;
        color: #000 !important;
    }
}


.header {
    position: fixed;
}

/* ALT COLOR */


.header-alt {
    .header-left a {
        color: $white !important;
    }

    .header-right a {
        text-decoration: none;
        color: #cbf3ff;
    }
}


.alt {
    color: $white !important;

    #footer {
        background: none;
    }

    .box {
        background: #001a19;
        color: $white;
    }

    h2 {
        color: #eff7f4 !important;
    }

    #portfolio {
        p {
            color: #ebf6f7 !important;
            ;
        }

        color: #e3eaf0 !important;
    }

    .quote-block {
        color: #f7eaea !important;
    }

    blockquote {
        color: #dcddea !important;
    }

}

#sticky-header.alt {
    background: #001a19 !important;


    h2 {
        color: #eff7f4 !important;
        line-height: 1em;
        font-size: .8em;
        letter-spacing: .1em;
        text-transform: none;
    }
}

#sticky-header {
    width: 100%;
    padding: 1em;

    h2 {
        line-height: 1em;
        margin-top: -2em;
        font-size: .8em;
    }
}

.sticky {
    top: 0;
    padding: 1em;
}

/* PORTFOLIO PAGE */

.cursor.alt {
    background-color: #477775;
}

.cursor {
    background-color: #0d3b39;
    mix-blend-mode: exclusion !important;
}

.cursor.is-hovering {
    background-color: red;
    mix-blend-mode: difference;
}

.portfolio-landing,
.portfolio-page-landing {
    font-family: "aktiv-grotesk-extended";
    vertical-align: center;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;

    h1 {
        font-family: "sporting grotesque";
        color: lightblue;
        font-weight: 300;
        font-size: 3em;
        line-height: 1.2em;
        margin: 0 !important;
    }

    p {
        text-align: center;
        font-family: "aktiv-grotesk-extended";
        margin: 0;
        max-width: 500px;
    }

    .portfolio-overview {

        a {
            font-family: "aktiv-grotesk-extended";
            font-size: .9em;
        }
    }
}

.container-portfolio {
    h1 {
        text-align: center;
        margin: 0 1em 1em 1em;
    }

    h3 {
        text-align: center;
        margin: 0;
        color: #dce6e8;
        font-family: "aktiv-grotesk-extended";
        font-size: 1em;
        font-weight: 100;
    }
}

.portfolio-project-container {

    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    margin: 0;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;

    img {
        padding: 0;
        max-width: 190px;
        align-self: center;
        padding: 1em;
        margin-right: 1em;
        float: left;
        cursor: e-resize !important;
    }

    .project-box:hover {
        filter: grayscale(0);
        cursor: e-resize !important;
        //background: rgba(176, 226, 226, 0.36);
    }

    .project-box {
        width: 100%;
        max-width: 650px !important;
        min-height: 190px;
        margin: 0 1em 3.5em 1em;
        display: block;
        text-decoration: none;
        padding-bottom: 1.5em;
        border-bottom: 1px solid $white;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
        cursor: e-resize !important;

        .btn{
            float:right;
            display:inline-block;
            margin:1em 0 .2em 0;
            width:90px;
            padding:.3em;
            color: cyan;
            border:1px solid cyan;
            font-family:"aktiv-grotesk-extended";
            cursor: e-resize !important;
        }
        
        .btn::before{
            content: " ❍";
            margin-right:.5em;
        }
        
        .btn:hover{
            border:1px solid #fff;
            background:#fff;
            color: #222cb7;
            cursor: e-resize !important;
        }
        

    }

    .project-unavailable {
        cursor: not-allowed !important;
    }

    .container-experiments {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .project-box {
            max-width: 450px !important;
            min-height: 80px;
            padding: .5em;
            margin: 2em !important;
            border-right: 1em solid transparent;
            border-left: 1em solid transparent;
            cursor: e-resize !important;

            h2 {
                font-size: 1.6em;
            }
        }

    }

    .project-box-desc {
        text-align: left;
    }

    .quote-block {

        font-family: "aktiv-grotesk";
        text-rendering: optimizelegibility;
        color: #484855;
        line-height: 22px;
        font-size: 14px;
        margin: 0 1.5em 0 0 !important;
        padding: 0 !important;
        font-size: 1em !important;
        text-align: left !important;
        cursor: e-resize !important;
    }

    h2 {
        padding: .5em 0 .2em 0;
        margin:0;
        font-weight: 300;
        font-style: italic;
        font-family: "Canela";
        font-size: 2.2em;
        color: lightcyan !important;
        line-height: 1.1em;
        cursor: e-resize !important;
    }

     sup {
         color:cyan;
         font-size:.8em;
        font-weight: 100;
        font-style: normal;
         font-family:"aktiv-grotesk-extended";
    }

    h2::before {
        content: "○ ";
        margin-right: .3em;
        font-size: 50%;
        margin-left: -.9em;
        vertical-align: super;
        display: inline-block;
    }

    h3 {
        font-family: "aktiv-grotesk-extended";
        font-size: .7em;
        color: lightblue !important;
        margin: .5em 0 0 0;
        text-align: left;
        font-weight: 800;
        cursor: e-resize !important;
    }


    @media only screen and (max-width: 600px) {
        .quote-block {
            //display:none;
            font-size: .9em !important;
        }

        h2 {
            font-size: 1.8em;
        }

        img {
            width: 30vw;
            padding: 1em;
            margin-right: .5em;
        }
    }

}


.love-container-all {

    display: flex;
    justify-content: center;
    text-align: left;
    flex-wrap: wrap;
    width: 100vw;
    margin-left: -1em;
    box-sizing: border-box;
    padding: 1em;


    .love-about {
        max-width: 100%;
        width: 30vw;
        min-width: 280px;
        text-align: left;
        margin: 0 1.5em 1em 1em;
        border-bottom: 1px solid $white;
    }


    @media only screen and (max-width: 600px) {
        .love-about {
            width: 85vw;
        }

        .love-container {
            padding: .5em;
            box-sizing: border-box;
        }

        .love-col {
            max-width: 200px;
        }
    }

    .love-container {
        max-width: 100%;
        flex-wrap: wrap;
        display: flex;
        text-align: left;

        .love-col {
            box-sizing: border-box;
            min-width: 200px;
            padding: 1em;
            margin: 0 0 1em 0;
            font-size: .9em;

        }
    }


    .love-col h2 {
        font-family: "aktiv-grotesk-extended";
        font-weight: 100;
        font-size: 1em;
        margin: 0;

    }

    p {
        text-align: left;
    }

    a {
        color: cyan;
    }

}
