$light-color: #d1d9db;
$white: #d1d9db;
$white-light: #d1d9db;

$accent: #ACB2B4;

$dark-lightest: #35383b;
$dark-mid: #35383b;

$lightcyan: #eff7f4;

html {
	scroll-behavior: smooth;
	padding-bottom: 2em;
}

a {
	text-decoration: none;
}

h1,
h2,
h3 {
	width: 820px;
	max-width: 95vw;
	margin: auto;
}

h1 {
	font-family: "Canela" !important;
	font-weight: 100;
	font-style: normal;
	font-size: 3rem !important;
	margin-bottom: .15em;
	padding: 0;

}

h2 {
	font-family: "GT America";
	font-variant: small-caps;
	font-size: .9em;
	font-weight: 100;
	text-transform: lowercase;
	margin-bottom: 1em;
	opacity: 0.8;
	letter-spacing: 1px;
	padding: 1.5em 0 0 0;
}

h3 {
	width: 700px;
	font-size: 2em;
	font-family: "Canela";
	font-weight: 300;
	padding-top: 1.5em;
	padding-bottom: .5em;
	margin: auto;
	text-align: center;
}

img{
	max-width: 800px;
}


/* IMAGE CONTAINER TYPES */



.image-container {

	width: 100%;
  margin: 0 auto;
	max-width: 90vw;
  padding: 0;
	display: flex;
	flex-direction: column;
  box-sizing: border-box;
	justify-content: center;
  object-fit: contain;

	img,
	video,
	iframe {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
	}

	iframe {
    margin: 0 auto;
	}


	img.image-part {
		max-width: 70%;
		border-left: 2.5em solid transparent;
		border-right: 2.5em solid transparent;
		box-sizing: border-box;
	}

	img.image-old {
		filter: grayscale(0.8);
	}

	img.comment {
		box-shadow: 0 0 20px #ccc;
		margin-top: 1em;
	}

	em {
		text-align: center;
		display: block;
		font-size: .8em;
		padding: .5em;
		opacity: 0.85;
	}

	a {
		margin: 0;
		width: auto;
		display: inline-block;
		background: none;
		padding: 0;

		em::after {
			content: " ↗\00FE0E";
		}
	}

	a em {
		display: block;

	}

}

.image-container.image-container-iphone {
	max-height: 640px;
}

.image-container.image-container-max{
	width: 100vw;
	max-width: 100vw;
	height: auto;
	display: block;
	margin: 0 auto;
	text-align: center;
	object-fit: cover;
	
	img{
		max-width: 100%;
	}
	
}


.image-container.image-container-fullscreen {
	margin: 0;
	width: 100% !important;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	img {
		width: 100%;
		flex-shrink: 0;
		min-width: 100%;
		min-height: 100%
	}


	@media only screen and (max-width: 900px) {
		background-size: cover;

	}
}




.image-container-long {

	max-width: 90vw;
	overflow-x: scroll;
	margin: 1em auto;

	img {
		max-height: 350px;
		display: inline-block;
	}

	em {
		justify-content: center;
		text-align: center;
		display: block;
		font-size: .8em;
		padding: .5em;
	}

}

.image-container-tall {

	max-height: 70vh;
	overflow-x: hidden;
	overflow-y: scroll;
	text-align: center;
	padding: 0 !important;
	box-sizing: border-box;

	img {
		width: 100%;
		height: auto;
		display: inline-block;
	}

	@media only screen and (max-width: 600px) {

		max-width: 100%;
		margin: auto;

		img {
			box-sizing: border-box;
			width: 100%;
			max-width: 100%;
			margin: 0;
		}
	}

}

.image-container-tall em,
.image-container-iphone em,
.image-container em {

	text-align: center;
	display: block;
	font-size: .8em;
	padding: .5em;
}


.image-container-iphone {
	max-height: 640px;

	img {
		max-width: 337px !important;
	}

}

.image-container-half {
	max-height: 450px;
}


@media only screen and (max-width: 700px) {
	#portfolio img {
		box-sizing: border-box;
		margin: 0;
	}

	#portfolio .image-container-long img {
		max-width: auto !important;
	}

}


#navigation .white {
	a {
		color: $white;
	}

}

iframe {
	max-width: 90vw;
	padding: 1em;
	box-sizing: border-box;
	margin: 1em 0;
}



.box-still {
	position: fixed;
	top: 0;
	z-index: -99;
}


.portfolio-landing {
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}

.portfolio-landing:hover {

	h1 {
		color: transparent !important;
		-webkit-text-stroke: 1px $white;
		text-shadow: 0 !important;
	}
}



#portfolio {

	margin: 0 auto;

	.portfolio-study {
		position: relative;
    max-width: 100vw;
		margin: 0 auto;
		background-size: contain;
	}

	hr {
		margin: auto;
		margin-left: 0;
		margin-right: 0;
		padding: 1em 0;
		width: 100%;
		border: 0;
	}

	ol,
	ul {
		margin: 1em auto;
	}

	ol.feature-large,
	ul.feature-large {

		width: 100%;
		max-width: 90vw;
		margin: 1em auto;

		li {
			font-size: 1rem;
			padding-bottom: .5em;
			margin: auto;
			line-height: 1.5em;

		}
	}

	.notice-wip {
		width: 80%;
		text-align: center;
		margin: auto;
		font-size: .9em;
		color: #efeca2;
		padding: 1em;
		line-height: 1.8em
	}

	.summary-details a,
	p a {
		background: none;
		color: $accent;
		font-family: "GT America";
	}

	p a:hover {
		text-decoration: underline;
	}

	h1.divider {
		text-align: center;
		font-weight: 100;
		padding-top: 2em;
		padding-bottom: .5em;
	}

	h2 {
		text-align: center;
	}

	h4 {
		margin: 0 auto;
		display: block;
		text-align: left;
		font-size: 2em;
		font-weight: 200;
		line-height: 1.125em;
		max-width: 750px;
		font-family: "GT America";
	}

	details {
		width: 100%;
		text-align: center;

		p {
			text-align: left;
		}

	}

	details summary {
		padding-bottom: 1em;
		-webkit-transition: all .3s linear;
		-moz-transition: all .3s linear;
		-ms-transition: all .3s linear;
		-o-transition: all .3s linear;
		transition: all .3s linear;
	}

	details summary::-webkit-details-marker {
		display: none;
	}

	details summary::after {
		content: "More →\00FE0E";
		padding-bottom: 1.25em;
		margin-left: 1.25em;
	}

	details:hover summary::after {
		text-shadow: 0 0 15px #fff;
	}


	@keyframes sweep {
		0% {
			opacity: 0;
			margin-left: -10px
		}

		100% {
			opacity: 1;
			margin-left: 0;
		}
	}

	.full-button {

		flex-basis: 100%;
		margin: 1em auto;
		display: inline-block;
		text-align: center;

		a {
			display: inline-block;
			padding: 1em !important;
			border: $white 1px solid;
			background: transparent !important;

		}

		a:hover {
			color: blue !important;
			transform: translateY(-2px);
			box-shadow: 0 -10px 20px #3b4060;
		}

	}

	.portfolio-links {
		text-align: center;
		width: 100%;

		a {
			font-weight: 100;
			font-size: 1.5em;
			font-family: "Canela";
			padding: .5em !important;
			color: $dark-mid !important;
		}


		a:hover {
			border: none;
		}

		padding:1em;
	}

	.portfolio-landing {
		vertical-align: center;
		justify-content: center;
		background-size: cover;
		margin-top: -2em !important;

		h1 {
			text-align: center;
			font-size: 2.2em;
			color: $white;
			flex-basis: 100%;
		}

		padding:1em;

		h3 {
			font-size: 1.3em;
			font-family: "GT America Expanded";
		}


		p {
			margin: .5em;
		}

		.portfolio-overview {
			text-align: center;
			margin: 0;

			p {
				font-size: 1.1em;
				font-family: "GT America Expanded";
				line-height: 1.4em;
			}
		}

		.project-contents {
			display: block;
			text-align: center;
			margin-top: 0 !important;

			a {
				display: inline-block;
				max-width: 130px;
				margin: 0 .6em 0 .6em;
				border-bottom: 1px solid #f4e9e9;
				line-height: 1em;
				padding: .3em;
				text-decoration: none;

				-webkit-transition: all .3s linear;
				-moz-transition: all .3s linear;
				-ms-transition: all .3s linear;
				-o-transition: all .3s linear;
				transition: all .3s linear;
				color: $white;
			}

			a:hover {
				background: $white;
				color: #000;
				text-decoration: none;
			}
		}


		@media only screen and (max-width: 600px) {
			h1 {
				font-size: 2em;
				line-height: 1em;
			}


			.project-contents {
				display: block;
				float: none;
				margin: 0;
			}

			.portfolio-overview {
				float: none;
				font-size: .8em;
				width: 80%;
			}

		}



	}


	.portfolio-travel {

		margin: 1em auto;
		width: 95vw;
		max-width: 1100px;
		margin-top: 50px;
		padding: 1em;
		height: auto;

		.travel-right {
			float: right;
		}

		.travel-right::before {
			content: "→\00FE0E ";
			margin-right: .3em;
			font-family: "GT America" !important;
		}


		.travel-left::before {
			content: "←\00FE0E ";
			margin-right: .3em;
			font-family: "GT America" !important;
		}

		a {
			display: inline-block;
			text-decoration: none;
			background: none !important;
			line-height: 2.6em;
			font-family: "gt america";


			strong {
				font-weight: 100;
				font-size: 2.4em;
				font-family: "Canela";
			}
		}


		@media only screen and (max-width: 700px) {

			.travel-left,
			.travel-right {
				width: 100%;
				text-align: center;
			}

			.travel-right {
				float: none;
			}
		}
	}

	.portfolio-last {
		h3 {
			text-align: center;
		}

	}

	.box-inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		overflow-x: hidden;

		iframe {
			max-width: 100%;
		}

		a {
			color: $white;
			opacity: 0.8;
			-webkit-transition: all .3s linear;
			-moz-transition: all .3s linear;
			-ms-transition: all .3s linear;
			-o-transition: all .3s linear;
			transition: all .3s linear;
		}

		a:hover {
			opacity: 1;
		}

		p {
			font-size: 1rem;
			color: #435262;
			line-height: 1.7rem;
			padding-top: .5em;
			padding-bottom: 1em;
			max-width: 95vw;
			width: 700px;
			margin: auto;

		}

		p strong {
			font-weight: 800;
		}

		.side-description {
			float: right;
			display: inline-block;
			width: 200px;
			margin: 1.2em 1.5em 1.2em 1.2em;
			border-top: 1px solid #96979b;
			border-bottom: 1px solid #96979b;
			color: $dark-mid;

			p {
				padding: .3em;
				margin: 0;
			}
		}

		.description {
			background: $dark-mid;
			padding: 1.4em;
			line-height: 1.4em;
			font-size: 1em;
			margin-bottom: 1em;
			color: $light-color;
		}

		blockquote.testimonial {
			display: inline-block;
			width: 95%;
      max-width: 350px;
      font-size: 1.75em;
      line-height: 1.25em;
			float: right;
      padding: .5em;
      margin: 0;
			border: 0;
			color: #191919;
			font-family: "Canela";

			@media only screen and (max-width: 600px) {
				float: none;
				text-align: center;
				width: 100%;
				margin-left: -2%;
        margin-bottom: 0;
        font-size: 1.5em;
			}
		}



		blockquote {
			box-sizing: border-box;
			width: auto;
			max-width: 800px;
			margin: auto;
			font-size: 1em;
			padding: 1em;
      margin-bottom: 0;
			border-top: 1px solid $dark-mid;
			border-bottom: 1px solid $dark-mid;
			color: $dark-lightest;
			line-height: 1.5em;
		}

		table {

			padding: 1em 0;
			border-top: 1px solid $dark-mid;
			border-bottom: 1px solid $dark-mid;

			td {
				font-size: 1em;
				padding: .8em 1em;
				line-height: 1.6em;
				vertical-align: top;
			}

		}

		.col {

			margin: 0 auto;
			width: 95vw;
			max-width: 1100px;
			box-sizing: border-box;
			margin: auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			
			h1, h2, h3{
				max-width: 100%;
			}


			h2 {
				margin: 0 1em;
				padding: 0;
			}

			p {
				margin: 0 .8em;
				max-width: 100%;
			}


			img {
				max-width: 95%;
				max-height: none;
				box-sizing: border-box;
			}


			.col-half {
				margin: 0 .1em;
				width: 49%;

				h3 {
					font-size: 2.75em;
					margin: .25em;
					padding: 0;
				}

			}

			.col-third {
				width: 31%;
				box-sizing: border-box;
				margin: 1%;
			}

		}

		.col.feature {
			h3 {
				text-align: center;
			}
		}


		// Portfolio Paragraph Styles

		p.center-emphasis {
			text-align: center;
			line-height: 1.5em;
			// additional spacing
			margin: 0 auto;
			font-weight: 100;
			width: 550px;
			max-width: 95vw;

			strong {
				font-family: "Canela" !important;
				font-weight: 100;
				font-size: 2.2em;
				line-height: 1em;
				font-style: italic;
				display: inline-block;
			}

			a {
				font-weight: 100;
			}
		}



		@media only screen and (max-width: 800px) {

			max-width: 100vw;
			margin: auto;
			box-sizing: border-box;

			.image-container {
				margin: auto;
				width: 90%;
				display: block;

				img,
				video {
					margin: auto;
					padding: 0;
				}
			}


			li {
				font-size: .85em;
				max-width: 100% !important;
				width: 100%;
			}

			h1,
			h2,
			h3 {
				max-width: 95vw;
				width: 100%;
				margin: auto;
			}

			h1 {
				font-size: 2em;
				padding: 0.25em;
			}

			h2,
			h3 {
				text-align: center;
			}

			h4 {
				font-size: 2em;
				margin: auto;
			}

			h5 {
				max-width: 70%;
				text-align: center;
				margin: .5em auto 1em auto;
			}

			.col {

				margin-top: 1em;
				max-width: 100%;
				width: 100vv;
				display: flex;

				p {
					margin: 0 auto;
					width: 100%;
				}


				.col-half {
					width: 100%;

					blockquote.testimonial {
						max-width: 100%;
						width: 100%;
						margin: 1em auto;
						text-align: center;
					}

					h3 {
						font-size: 2em;
						margin: 0;
						padding-left: .25em;
					}

				}

				.col-third {
					width: 46%;
				}

			}

			.content {
				.col-third {
					width: 100%;
					max-width: 600px;
					text-align: center;
					box-sizing: border-box;
					padding: .5em;
					margin: 0;
				}
			}

			p,
			details {
				margin: 0 auto;
				padding: 1em;
				font-size: .8rem;
				line-height: 1.6em;
				margin-bottom: 1em;
			}


			ol.feature-large,
			ul.feature-large {

				max-width: 80vw;
				margin: 0 auto;
				margin-bottom: 1em;
				padding: 0;

				li {
					margin: 0 0 .5em 0;
					padding: 0;
					font-size: .85em;
				}
			}

		}

	}
}



#portfolio .intro {

	position: relative;
	
	width: 100vw;
	min-height: 100vh;
	background-size: cover;
	background-position: center 0;
	background-repeat: no-repeat;

	display: flex;
	place-items: center;


	.intro-inner {
		position: absolute;
		margin: 0 auto;
		bottom: 0;
		left:50%;
		transform:translateX(-50%);
		width: 100%;
		max-width: 1400px;
	}

	@media only screen and (max-width: 800px) {

		background-size: cover;
		background-position: center;
		min-height: 100vh;


		.intro-inner {
			display: flex;
			justify-content: center;
			bottom: 0;
			
			.summary-container{
				margin: 0;
				padding: 0;
				
				p.summary{
					margin: 0 auto;
					margin-bottom: 1em;
					padding: 0;
					max-width: 100vw;
					font-size: 1.5rem !important;
				}
				
			}
			
		}

	}

	@media only screen and (max-width: 500px) {

		.quote-block {
			font-size: 2.2em;
		}
	}


}

#portfolio .intro.alt {

	.quote-block {
		color: $white;
	}

	.portfolio-nav a {
		color: $white !important;
	}

}


/* SPECIAL */

.feature-list {

	width: 100%;
	text-align: center;
  margin-top: 0;

	img {
		max-width: 100%;
		width: 120px;
		mix-blend-mode: lighten;

		@media only screen and (max-width: 800px) {
			width: 60px;

		}
	}

	h3 {
		font-family: "Canela";
		padding: .5em 0 0 0;
		font-size: 1.5em;
		line-height: 1em;
		margin-bottom: 0;
	}

	.col-third {
		border-radius: 5px;
		padding: .5em;
    

    
		img {
			width: 90%;
		}

		p {
			padding: 0 !important;
			margin: 0 !important;
			line-height: 1.5em !important;
		}

		@media only screen and (max-width: 700px) {

      margin-top: 0;
      padding-top: 0;
			width: 100% !important;
      
      h3{
        text-align: left !important;
      }
			
			p {
        text-align: left;
				margin: 0;
				padding: 0 !important;
			}

		}

	}


}


.feature-testimonials {

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 1400px;
	padding: 2em 1em;
	margin: 0 auto;

	.testimonial {
		margin: 1em;
		padding: 0.75em;
		font-size: 1em;
		line-height: 1.3em;
		max-width: 300px;
		max-height: 150px;
		overflow-y: scroll;
		opacity: 0.8;
	}


	@media only screen and (max-width: 800px) {

		.testimonial {
			max-width: 100%;
			font-size: .8em;
			margin: .5em;
		}

	}
}


.summary-container {

	margin: 0 auto;
	width: 95vw;
	max-width: 1100px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	p.summary {
		width: 100% !important;
		max-width: 100% !important;
		text-indent: 2em;
		
		font-weight: 100;
		font-size: 2.6em !important;
		line-height: 1.25em !important;
		font-family:"Canela";
		
		em{
			font-size: 1.2em;
		}


		a {
			font-family: "Canela" !important;
			font-weight: 100 !important;
			font-style: italic;
			font-size: 1.2em;
		}

		a:hover {
			text-decoration: none !important;
			border-bottom: 1px solid $lightcyan;
		}

	}


	.summary-details {
    
    margin: 2.5vh 0 5vh 0;
		padding-top: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		font-size: 1em;

	}

	.summary-add {
		width: 30%;
		margin-bottom: 1.5em;
		line-height: 1.4em;
		
		strong {
			font-family: "Canela";
			font-weight: 100;
			font-style: italic;
			font-size: 1.8em;
			line-height: .5em;
			font-variant: normal;
			text-transform: none;
			letter-spacing: 0;
		}
		
	}

	@media only screen and (max-width: 800px) {
		
		padding: .75em;

		.summary-details {
			display: flex;
			flex-wrap: wrap;
		}

		.summary-add {
			max-width: 100%;
			width: 100%;
			font-size: .8rem;
			margin-bottom: 1em;
			
			strong{
				font-family:"Canela";
				font-weight: 100;
				font-style: italic;
				font-size: 1.2rem !important;
			}
			
		}

		p {
			max-width: 100%;
		}

	}


}

.quote-block {
	text-align: center;
	color: #2c2929;
	font-size: 2.6em;
	line-height: 1.2em;
	max-width: 80%;
	margin: auto;
	padding: 0;
	font-weight: 300;
	font-family: "Canela", serif;
}


.container-persona {

  max-width: 90vw;
  margin: 2em auto;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.persona {

		width: 100%;
		max-width: 750px;

		padding: 1em;
    margin: 2em auto;

		img {
			max-width: 100%;
		}

		img.flavor {
			width: 160px;
			margin: 1em;
		}

		h5 {
			margin: 0;
			font-family: "GT America";
			font-weight: 100;
			display: inline-block;
      margin-bottom: .5em;
		}

		h4 {
			font-weight: 800;
			padding: 0 !important;
			margin: .5em 0 !important;
		}


		p {
			margin: 0 !important;
			padding: 0 !important;
		}

		@media only screen and (max-width: 900px) {

			max-width: 100vw;
			padding: 0;

			p {
        padding: 1em;
        width: 100% !important;
        max-width: 100% !important;
			}

			img {
				display: block;
				float: none;
				clear: both;
				align-self: center;
				margin: auto;
			}
		}
	}


}


.summary-add {
	text-align: left;
	display: block;
	padding: .2em;
	width: 80%;
	max-width: 600px;
	font-size: .9em;
	margin-bottom: .3em;
	line-height: 1.25em;

	strong {
		display: block;
		margin-bottom: .5em;
		font-weight: 800;
		font-size: 1em;
		line-height: 1.1em;
	}
}

.portfolio-large {
	margin: 0 auto;
	padding: 1em;
	min-height: 250px;
	width: 80%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	cursor: help !important;
	display: block;

	.portfolio-large-center {
		margin: 4em;
	}

	h1 {
		cursor: help !important;
		text-align: center !important;
		mix-blend-mode: difference;
		line-height: 1em;
	}


	a {

		cursor: pointer !important;
		font-size: 1.2em;
		background: #000 !important;
		padding: .5em !important;
		font-family: "GT America";
		letter-spacing: .05em;
		display: inline-block;
	}

	a:hover {
		transform: translateY(-2px);
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.28);
	}
}



/* ALT COLOR */


.alt {
	color: $white-light;

	#footer {
		background: none;
	}

	.box {
		background: #001a19;
		color: $white;
	}

	h2 {
		color: $white;
	}

	#portfolio {
		p {
			color: $white;
		}

	}

	.quote-block {
		color: $white;
	}

	blockquote {
		color: $white !important;
		opacity: 0.9;
	}

}

/* PROGRESS BAR */

#_progress {
	position: fixed;
	--scroll: 0%;
	background: linear-gradient(to right, rgba(209, 230, 225, 1) var(--scroll), transparent 0);
	mix-blend-mode: difference;
	width: 100%;
	height: 2px;
	top: 0;
	left: 0;
	z-index: 100;
}
