
$light-color: #f0f8f7;

$dark-lightest: #605757;
$dark-mid: #262c2b;

#footer{
    background:#262222;
    display:inline-block;
    min-height:120px;
    width:100%;
    padding:1em;
    margin-top:2em;
}


.portfolio-project-container{
    
    .portfolio-box{
        width:180px !important;
    }
    
    text-align: center;
    align-items: center;
    justify-content: center;
    padding:1.2em;
    
    h3{
        font-family:"Sporting Grotesque";
        font-size:16px;
    }
    
}
      

.image-container{
    
    padding:1em;
    margin-left:-5%;
    width:110%;
    display:flex;
    justify-content: space-around;
    box-sizing: border-box;
    
    img{
        max-width:inherit;
        box-sizing: border-box;
        margin:.5em;
    }
    
    .image-twentyfive{
        width:23%;
        box-sizing: border-box;
    }
    
    
    .image-third{
        width:33%;
    }
    
    .image-half{
        width:45%;
    }
    
    .image-seventyfive{
        width:71%;
        box-sizing: border-box;
    }
    
    .image-full{
        width:100%;
        box-sizing: border-box;
    }
    
    
}

.box{background:#f0f8f7;width:100%;}

.box-still{
    position:fixed;
    top:0;
}


#portfolio-page{
    .quote-block{
        text-align: center !important;
        color:#2c2929;
        font-size:2em;
        padding:.5em 10% .5em  10%;
        margin-top:-2em;
        font-family: moret, serif; 
    }   
}



#portfolio{
    
    .portfolio-landing{
        padding:1em;
        h3{
            font-size:1.3em;
            font-family: "aktiv-grotesk-extended";     
        }
        
        p{
            margin:.5em;
        }
        
        .portfolio-overview{
        float:left;    
        }
        
        .project-contents{
            right:0;
            width:40%;
            max-width:300px;
            float:right;
            padding:1em;
            
            a{
                display:block;
                margin-left:.5em;
            }
        }
        
        
        @media only screen and (max-width: 600px) {
            .project-contents{
                display:block;
                float:none;
                margin:1em;
                margin-top:50px;
            }   
            
            .portfolio-overview{
                float:none;
            }
        }
        
        
        
    }
    
    .portfolio-last{
        h3{text-align: center;}
    }
    .portfolio-description{
    
        a{
            background:#2b13af;
            padding:.1em;
            text-decoration: none;
            color:#fdf6f6;
            -webkit-transition: all .3s linear;
            -moz-transition: all .3s linear;
            -ms-transition: all .3s linear;
            -o-transition: all .3s linear;
            transition: all .3s linear;
        }
        
        a:hover{
           background:yellow;
            color: $dark-mid;
        }
        
        h1{font-size:1.3em;
        padding:1em 0 .5em 0;}
        
        h2{
            font-family: halyard-display, sans-serif;
            font-size:18px;
            text-transform:uppercase;
            letter-spacing:1px;
            font-weight: 600;
            color:#221e1e;
            margin-top:-.4em;
        }
        
        h3{
            font-size:1.3em;
            font-family: "aktiv-grotesk-extended";     
        }
        
        p{
            font-size:1.1em !important;
            color:#435262;
            margin:.3em;
            padding-bottom:1em;
        }
        
        .side-description{
            float:right;
            display:inline-block;
            width:200px;
            margin:1.2em 1.5em 1.2em 1.2em;
            border-top:1px solid #96979b;
            border-bottom:1px solid #96979b;
            color:$dark-mid;
            
            p{
                padding:.3em;
                margin:0;
            }
        }
        
        .description{
            background: $dark-mid;
            padding:1.4em;
            line-height:1.4em;
            font-size:1em;
            margin-bottom:1em;
            color: $light-color;
        }
        
        blockquote{
            box-sizing: border-box;
            font-size:1.1em !important;
            padding:1em;
            margin-bottom:2em;
            border-top:1px solid $dark-mid;
            border-bottom:1px solid $dark-mid;
            color: $dark-lightest;
            
            h3{
                margin:0;
                font-family:"Sporting Grotesque";
                font-size:19px;
            }
        }
        
    }
}