@charset "UTF-8";
html {
  scroll-behavior: smooth;
  padding-bottom: 2em; }

a {
  text-decoration: none; }

h1,
h2,
h3 {
  width: 820px;
  max-width: 95vw;
  margin: 0 auto; }

h1 {
  padding-bottom: 25px;
  font-size: 2em;
  letter-spacing: -1px;
  font-family: 'Times Now', serif; }

h2 {
  font-weight: 100;
  margin: 0 auto;
  margin-top: 1.5em;
  padding: .5em;
  font-size: .9em;
  line-height: 110%; }

h3 {
  font-size: 2em;
  text-align: center;
  letter-spacing: -.5px;
  font-family: 'Times Now', serif;
  max-width: 450px;
  margin: .5em auto; }

img {
  max-width: 800px;
  margin: 0 auto; }

iframe {
  max-width: 60%;
  padding: 1em;
  box-sizing: border-box;
  margin: 1em auto; }

/* IMAGE CONTAINER TYPES */
.image-container {
  width: 100%;
  margin: 0 auto;
  max-width: 90vw;
  padding: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  object-fit: contain; }
  .image-container img,
  .image-container video,
  .image-container iframe {
    width: auto;
    max-width: 100%;
    margin: 0 auto; }
  .image-container iframe {
    margin: 0 auto; }
  .image-container img.image-part {
    max-width: 70%;
    border-left: 2.5em solid transparent;
    border-right: 2.5em solid transparent;
    box-sizing: border-box; }
  .image-container img.image-old {
    filter: grayscale(0.8); }
  .image-container img.comment {
    box-shadow: 0 0 20px #ccc;
    margin-top: 1em; }
  .image-container em {
    text-align: center;
    display: block;
    font-size: .8em;
    padding: .5em;
    opacity: 0.85; }
  .image-container a {
    margin: 0;
    width: auto;
    display: inline-block;
    background: none;
    padding: 0; }
    .image-container a em::after {
      content: " ↗\00FE0E"; }
  .image-container a em {
    display: block; }

.image-container.image-container-iphone {
  max-height: 640px; }

.image-container.image-container-max {
  width: 100vw;
  max-width: 100vw;
  height: auto;
  display: block;
  margin: 0 auto;
  text-align: center;
  object-fit: cover; }
  .image-container.image-container-max img {
    max-width: 100%; }

.image-container.image-container-fullscreen {
  margin: 0;
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  .image-container.image-container-fullscreen img {
    width: 100%;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%; }
  @media only screen and (max-width: 900px) {
    .image-container.image-container-fullscreen {
      background-size: cover; } }

.image-container-long {
  max-width: 90vw;
  overflow-x: scroll;
  margin: 1em auto; }
  .image-container-long img {
    max-height: 350px;
    display: inline-block; }
  .image-container-long em {
    justify-content: center;
    text-align: center;
    display: block;
    font-size: .8em;
    padding: .5em; }

.image-container-tall {
  max-height: 70vh;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
  padding: 0 !important;
  box-sizing: border-box; }
  .image-container-tall img {
    width: 100%;
    height: auto;
    display: inline-block; }
  @media only screen and (max-width: 600px) {
    .image-container-tall {
      max-width: 100%;
      margin: auto; }
      .image-container-tall img {
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        margin: 0; } }

.image-container-tall em,
.image-container-iphone em,
.image-container em {
  text-align: center;
  display: block;
  font-size: .8em;
  padding: .5em; }

.image-container-iphone {
  max-height: 640px; }
  .image-container-iphone img {
    max-width: 337px !important; }

.image-container-half {
  max-height: 450px; }

@media only screen and (max-width: 700px) {
  #portfolio img {
    box-sizing: border-box;
    margin: 0; }
  #portfolio .image-container-long img {
    max-width: auto !important; } }

#navigation .white a {
  color: #F7F9F8; }

.portfolio-landing {
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear; }

.portfolio-landing:hover h1 {
  color: transparent !important;
  -webkit-text-stroke: 1px #F7F9F8;
  text-shadow: 0 !important; }

#portfolio {
  margin: 0 auto; }
  #portfolio .portfolio-study {
    position: relative;
    max-width: 100vw;
    margin: 0 auto;
    background-size: contain; }
  #portfolio hr {
    margin: auto;
    margin-left: 0;
    margin-right: 0;
    padding: 1em 0;
    width: 100%;
    border: 0; }
  #portfolio ol,
  #portfolio ul {
    margin: 1em auto; }
  #portfolio ol.feature-large,
  #portfolio ul.feature-large {
    width: 95%;
    max-width: 820px;
    margin: 1em auto; }
    #portfolio ol.feature-large li,
    #portfolio ul.feature-large li {
      width: 90%;
      font-size: 1rem;
      padding-bottom: .5em;
      margin: auto;
      line-height: 1.5em; }
  #portfolio .notice-wip {
    width: 80%;
    text-align: center;
    margin: auto;
    font-size: .9em;
    color: #efeca2;
    padding: 1em;
    line-height: 1.8em; }
  #portfolio .summary-details a,
  #portfolio p a {
    background: none;
    color: #35383b; }
  #portfolio p a:hover {
    text-decoration: underline; }
  #portfolio h1.divider {
    text-align: center;
    font-weight: 100;
    padding-top: 2em;
    padding-bottom: .5em; }
  #portfolio h2 {
    text-align: center; }
  #portfolio h4 {
    margin: 0 auto;
    display: block;
    text-align: left;
    font-size: 2em;
    line-height: 1.125em;
    max-width: 750px; }
  #portfolio details {
    width: 100%;
    text-align: center; }
    #portfolio details p {
      text-align: left; }
  #portfolio details summary {
    padding-bottom: 1em;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear; }
  #portfolio details summary::-webkit-details-marker {
    display: none; }
  #portfolio details summary::after {
    content: "More →\00FE0E";
    padding-bottom: 1.25em;
    margin-left: 1.25em; }
  #portfolio details:hover summary::after {
    text-shadow: 0 0 15px #fff; }

@keyframes sweep {
  0% {
    opacity: 0;
    margin-left: -10px; }
  100% {
    opacity: 1;
    margin-left: 0; } }
  #portfolio .full-button {
    flex-basis: 100%;
    margin: 1em auto;
    display: inline-block;
    text-align: center; }
    #portfolio .full-button a {
      display: inline-block;
      padding: 1em !important;
      border: #F7F9F8 1px solid;
      background: transparent !important; }
    #portfolio .full-button a:hover {
      color: blue !important;
      transform: translateY(-2px);
      box-shadow: 0 -10px 20px #3b4060; }
  #portfolio .portfolio-links {
    text-align: center;
    width: 100%;
    padding: 1em; }
    #portfolio .portfolio-links a {
      font-weight: 100;
      font-size: 1.5em;
      padding: .5em !important;
      color: #35383b !important; }
    #portfolio .portfolio-links a:hover {
      border: none; }

.portfolio-travel {
  margin: 1em auto;
  width: 95vw;
  max-width: 1100px;
  margin-top: 50px;
  padding: 1em;
  height: auto; }
  .portfolio-travel .travel-right {
    float: right; }
  .portfolio-travel .travel-right::before {
    content: "→\00FE0E ";
    margin-right: .3em; }
  .portfolio-travel .travel-left::before {
    content: "←\00FE0E ";
    margin-right: .3em; }
  .portfolio-travel a {
    display: inline-block;
    text-decoration: none; }
    .portfolio-travel a strong {
      letter-spacing: .5px;
      font-size: 2.5em;
      font-weight: 300;
      letter-spacing: -1px;
      font-family: 'Times Now', serif; }
  @media only screen and (max-width: 900px) {
    .portfolio-travel .travel-left,
    .portfolio-travel .travel-right {
      width: 100%;
      text-align: center;
      margin-bottom: 1em; }
    .portfolio-travel .travel-right {
      float: none; } }

.box-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; }
  .box-inner iframe {
    max-width: 100%; }
  .box-inner a {
    color: #F7F9F8;
    opacity: 0.8;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear; }
  .box-inner a:hover {
    opacity: 1; }
  .box-inner p {
    font-size: 1rem;
    color: #435262;
    line-height: 1.7rem;
    padding-top: .5em;
    padding-bottom: 1em;
    max-width: 95vw;
    width: 700px;
    margin: auto; }
  .box-inner p strong {
    font-weight: 800; }
  .box-inner .side-description {
    float: right;
    display: inline-block;
    width: 200px;
    margin: 1.2em 1.5em 1.2em 1.2em;
    border-top: 1px solid #96979b;
    border-bottom: 1px solid #96979b;
    color: #35383b; }
    .box-inner .side-description p {
      padding: .3em;
      margin: 0; }
  .box-inner .description {
    background: #35383b;
    padding: 1.4em;
    line-height: 1.4em;
    font-size: 1em;
    margin-bottom: 1em;
    color: #35383b; }
  .box-inner blockquote.testimonial {
    display: inline-block;
    width: 95%;
    max-width: 350px;
    font-size: 1.75em;
    line-height: 1.25em;
    float: right;
    padding: .5em;
    margin: 0;
    border: 0;
    color: #191919; }
    @media only screen and (max-width: 600px) {
      .box-inner blockquote.testimonial {
        float: none;
        text-align: center;
        width: 100%;
        margin-left: -2%;
        margin-bottom: 0;
        font-size: 1.5em; } }
  .box-inner table {
    padding: 1em 0;
    border-top: 1px solid #35383b;
    border-bottom: 1px solid #35383b; }
    .box-inner table td {
      font-size: 1em;
      padding: .8em 1em;
      line-height: 1.6em;
      vertical-align: top; }
  .box-inner .col {
    margin: 0 auto;
    width: 95vw;
    max-width: 1100px;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .box-inner .col h1,
    .box-inner .col h2,
    .box-inner .col h3 {
      max-width: 100%; }
    .box-inner .col h2 {
      margin: 0 1em;
      padding: 0; }
    .box-inner .col p {
      margin: 0 .8em;
      max-width: 100%; }
    .box-inner .col img {
      max-width: 95%;
      max-height: none;
      box-sizing: border-box; }
    .box-inner .col .col-half {
      margin: 0 .3em;
      width: 49%;
      padding: 1em; }
      .box-inner .col .col-half h3 {
        font-size: 2.75em;
        margin: .25em;
        padding: 0; }
    .box-inner .col .col-third {
      width: 31%;
      box-sizing: border-box;
      margin: 1%; }
      .box-inner .col .col-third h3 {
        font-size: 1.5em; }
  .box-inner .col.feature h3 {
    text-align: center; }
  .box-inner p.center-emphasis {
    text-align: center;
    line-height: 1.5em;
    margin: 0 auto;
    width: 550px;
    max-width: 95vw;
    font-family: 'Bau Pro', monospace;
    font-weight: 300;
    font-size: 1.25em;
    line-height: 120%;
    text-transform: uppercase; }
    .box-inner p.center-emphasis strong {
      line-height: 110%;
      display: inline-block; }
  @media only screen and (max-width: 800px) {
    .box-inner {
      max-width: 100vw;
      margin: auto;
      box-sizing: border-box; }
      .box-inner .image-container {
        margin: auto;
        width: 90%;
        display: block; }
        .box-inner .image-container img,
        .box-inner .image-container video {
          margin: auto;
          padding: 0; }
      .box-inner li {
        font-size: .85em;
        max-width: 100% !important;
        width: 100%; }
      .box-inner h1,
      .box-inner h2,
      .box-inner h3 {
        max-width: 95vw;
        width: 100%; }
      .box-inner h1 {
        font-size: 2em;
        padding: 0.25em; }
      .box-inner h2 {
        margin-top: 1em; }
      .box-inner h2,
      .box-inner h3 {
        text-align: center; }
      .box-inner h4 {
        font-size: 2em;
        margin: auto; }
      .box-inner h5 {
        max-width: 70%;
        text-align: center;
        margin: .5em auto 1em auto; }
      .box-inner .col {
        margin-top: 1em;
        max-width: 100%;
        width: 100vv;
        display: flex; }
        .box-inner .col p {
          margin: 0 auto;
          width: 100%; }
        .box-inner .col .col-half {
          width: 100%; }
          .box-inner .col .col-half blockquote.testimonial {
            max-width: 100%;
            width: 100%;
            margin: 1em auto;
            text-align: center; }
          .box-inner .col .col-half h3 {
            font-size: 2em;
            margin: 0;
            padding-left: .25em; }
        .box-inner .col .col-third {
          width: 100%; }
      .box-inner .content .col-third {
        width: 100%;
        max-width: 600px;
        text-align: center;
        box-sizing: border-box;
        padding: .5em;
        margin: 0; }
      .box-inner p,
      .box-inner details {
        margin: 0 auto;
        padding: 1em;
        line-height: 1.6em;
        margin-bottom: 1em; }
      .box-inner ol.feature-large,
      .box-inner ul.feature-large {
        max-width: 80vw;
        margin: 0 auto;
        margin-bottom: 1em;
        padding: 0; }
        .box-inner ol.feature-large li,
        .box-inner ul.feature-large li {
          margin: 0 0 .5em 0;
          padding: 0;
          font-size: .85em; } }

#portfolio .intro {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
  display: flex;
  place-items: center; }
  #portfolio .intro .intro-inner {
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1400px; }
  @media only screen and (max-width: 800px) {
    #portfolio .intro {
      background-size: cover;
      background-position: center;
      min-height: 100vh; }
      #portfolio .intro .intro-inner {
        display: flex;
        justify-content: center;
        bottom: 0; }
        #portfolio .intro .intro-inner .summary-container {
          margin: 0;
          padding: 0; }
          #portfolio .intro .intro-inner .summary-container p.summary {
            margin: 0 1em;
            margin-bottom: 1em;
            padding: 0;
            max-width: 100vw; } }
  @media only screen and (max-width: 500px) {
    #portfolio .intro .quote-block {
      font-size: 2.2em; } }

#portfolio .intro.alt .quote-block {
  color: #F7F9F8; }

#portfolio .intro.alt .portfolio-nav a {
  color: #F7F9F8 !important; }

/* SPECIAL */
.feature-list {
  width: 100%;
  text-align: center;
  margin-top: 0; }
  .feature-list img {
    max-width: 100%;
    width: 120px;
    mix-blend-mode: lighten; }
    @media only screen and (max-width: 800px) {
      .feature-list img {
        width: 60px; } }
  .feature-list h3 {
    padding: .25em 0;
    font-size: 1.5em;
    line-height: 1em;
    margin-bottom: 0; }
  .feature-list .col-third {
    border-radius: 5px;
    padding: .5em; }
    .feature-list .col-third img {
      width: 90%; }
    @media only screen and (max-width: 700px) {
      .feature-list .col-third {
        margin-top: 0;
        padding-top: 0;
        width: 100% !important; }
        .feature-list .col-third h3 {
          text-align: left !important; }
        .feature-list .col-third p {
          text-align: left;
          margin: 0;
          padding: 0 !important; } }

.feature-testimonials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1400px;
  padding: 2em 1em;
  margin: 0 auto; }
  .feature-testimonials .testimonial {
    margin: 1em;
    padding: 0.75em;
    font-size: 1em;
    line-height: 1.3em;
    max-width: 300px;
    max-height: 150px;
    overflow-y: scroll;
    opacity: 0.8; }
  @media only screen and (max-width: 800px) {
    .feature-testimonials .testimonial {
      max-width: 100%;
      font-size: .8em;
      margin: .5em; } }

.summary-container {
  margin: 0 auto;
  width: 95vw;
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .summary-container p.summary {
    width: 100%;
    max-width: 100%; }
    .summary-container p.summary em {
      font-size: 1.2em; }
    .summary-container p.summary a:hover {
      border-bottom: 1px solid mediumblue; }
  .summary-container .summary-details {
    margin: 2.5vh 0 5vh 0;
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1em; }
  .summary-container .summary-add {
    width: 30%;
    margin-bottom: 1.5em;
    line-height: 1.4em; }
    .summary-container .summary-add strong {
      font-family: "Bau Pro";
      text-transform: uppercase;
      font-weight: 100;
      letter-spacing: 2px;
      font-size: 1em;
      letter-spacing: 0; }
  @media only screen and (max-width: 800px) {
    .summary-container {
      padding: .75em; }
      .summary-container .summary-details {
        display: flex;
        flex-wrap: wrap; }
      .summary-container .summary-add {
        max-width: 100%;
        width: 100%;
        font-size: .8rem;
        margin-bottom: 1em; }
        .summary-container .summary-add strong {
          font-weight: 100;
          font-size: .8rem; }
      .summary-container p {
        max-width: 100%; } }

.quote-block {
  text-align: center;
  color: #2c2929;
  font-size: 2.6em;
  line-height: 1.2em;
  max-width: 80%;
  margin: auto;
  padding: 0;
  font-weight: 300; }

.container-persona {
  max-width: 90vw;
  margin: 2em auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .container-persona .persona {
    width: 100%;
    max-width: 750px;
    padding: 1em;
    margin: 2em auto; }
    .container-persona .persona img {
      max-width: 100%; }
    .container-persona .persona img.flavor {
      width: 160px;
      margin: 1em; }
    .container-persona .persona h5 {
      margin: 0;
      display: inline-block;
      margin-bottom: .5em;
      font-family: 'Bau Pro', monospace;
      font-weight: normal; }
    .container-persona .persona h4 {
      font-weight: 800;
      padding: 0 !important;
      margin: .5em 0 !important; }
    .container-persona .persona p {
      margin: 0 !important;
      padding: 0 !important; }
    @media only screen and (max-width: 900px) {
      .container-persona .persona {
        max-width: 100vw;
        padding: 0; }
        .container-persona .persona p {
          padding: 1em;
          width: 100% !important;
          max-width: 100% !important; }
        .container-persona .persona img {
          display: block;
          float: none;
          clear: both;
          align-self: center;
          margin: auto; } }

.summary-add {
  text-align: left;
  display: block;
  padding: .2em;
  width: 80%;
  max-width: 600px;
  font-size: .9em;
  margin-bottom: .3em;
  line-height: 1.25em; }
  .summary-add strong {
    display: block;
    margin-bottom: .5em;
    font-weight: 800;
    font-size: 1em;
    line-height: 1.1em; }

/* ALT COLOR */
.alt {
  color: #F7F9F8; }
  .alt .box {
    background: #35383b;
    color: #F7F9F8; }
  .alt a {
    color: #F7F9F8; }
  .alt h2 {
    color: #F7F9F8; }
  .alt #portfolio p {
    color: #F7F9F8; }
  .alt #portfolio p a {
    color: #F7F9F8; }
  .alt .quote-block {
    color: #F7F9F8; }
  .alt blockquote {
    color: #F7F9F8 !important;
    opacity: 0.9; }

.alt#footer a {
  color: #F7F9F8; }

/* PROGRESS BAR */
#_progress {
  position: fixed;
  --scroll: 0%;
  background: linear-gradient(to right, #d1e6e1 var(--scroll), transparent 0);
  mix-blend-mode: difference;
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  z-index: 100; }

