/*

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
*/
@font-face {
  font-family: 'Bau Pro';
  src: url(../fonts/BauPro.woff2) format("woff2"), url(../fonts/BauPro.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Bau Pro';
  src: url(../fonts/BauPro-Medium.woff2) format("woff2"), url(../fonts/BauPro-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Neue Montreal';
  src: url(../fonts/NeueMontreal-Bold.woff2) format("woff2"), url(../fonts/NeueMontreal-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Neue Montreal';
  src: url(../fonts/NeueMontreal-Regular.woff2) format("woff2"), url(../fonts/NeueMontreal-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Neue Montreal';
  src: url(../fonts/NeueMontreal-Medium.woff2) format("woff2"), url(../fonts/NeueMontreal-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Times Now';
  src: url("https://chia.design/assets/fonts/TimesNow-SemiLight.woff2") format("woff2"), url("https://chia.design/assets/fonts/TimesNow-SemiLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Times Now';
  src: url("https://chia.design/assets/fonts/TimesNow-SemiLightItalic.woff2") format("woff2"), url("https://chia.design/assets/fonts/TimesNow-SemiLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }

@charset "UTF-8";
body {
  background: #f7f7f7;
  color: #1f1f1f;
  font-family: 'Neue Montreal'; }

h1,
h2,
h3,
h4,
p,
input {
  color: #1f1f1f; }

h4 {
  margin: .5em 0;
  text-align: left;
  display: block; }

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  background: #f7f7f7;
  pointer-events: none;
  animation: .75s ease-out 0.2s 1 pageload forwards; }
  .loader .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .loader h1 {
    font-size: 2.6em; }

.container {
  background: #f7f7f7; }

.box {
  padding: 5vw; }

.contain p {
  font-size: .9em;
  line-height: 140%;
  max-width: 460px;
  padding-bottom: 1em; }

#naruto {
  display: none;
  mix-blend-mode: darken;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 420px;
  background-position: bottom left;
  pointer-events: none;
  opacity: 0; }
  @media only screen and (max-width: 1100px) {
    #naruto {
      opacity: 0.1; } }
  @media only screen and (max-width: 760px) {
    #naruto {
      max-width: 200px; } }

#overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 90px;
  background-color: #f7f7f7;
  background: linear-gradient(0deg, #f7f7f7 0%, rgba(247, 249, 248, 0) 100%);
  opacity: 0.8; }

.header {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background-color: #f7f7f7;
  background: linear-gradient(180deg, #f7f7f7 0%, #f7f7f7 40%, rgba(247, 249, 248, 0) 100%); }
  .header .header-wrapper {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .header .header-wrapper .header-left {
      margin-left: -.25em; }
      .header .header-wrapper .header-left a {
        font-size: 1.125em;
        font-weight: 400; }
    .header .header-wrapper .header-right {
      float: right;
      display: flex;
      align-content: flex-start;
      flex-wrap: wrap; }
      .header .header-wrapper .header-right a {
        margin: 0;
        padding: .25em;
        font-size: 1.125em;
        line-height: 100%;
        display: inline-block; }
  .header a {
    color: #1f1f1f;
    height: auto; }
  @media only screen and (max-width: 900px) {
    .header {
      height: 100px;
      padding: 2em; }
      .header .header-wrapper {
        flex-wrap: wrap;
        align-content: flex-start; }
        .header .header-wrapper .header-right {
          margin: 0;
          width: 100%;
          max-width: 100vw;
          height: auto;
          font-size: .8em; }
          .header .header-wrapper .header-right a {
            display: inline-block;
            width: auto;
            padding: .25em;
            margin: 0 .25em 0 0; } }

.info, .invitation {
  display: flex;
  flex-direction: row; }
  .info h2, .invitation h2 {
    font-weight: normal; }
  .info h4, .invitation h4 {
    display: block;
    width: 100%;
    font-family: "Times Now";
    font-size: 1.25em;
    display: block;
    margin: .25em; }
  .info .work, .invitation .work {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: top;
    align-content: flex-start;
    flex-wrap: wrap;
    vertical-align: top; }
    .info .work ._work, .invitation .work ._work {
      width: auto;
      padding: 1em;
      margin: 0 1em; }
    .info .work a, .invitation .work a {
      padding: .25em;
      margin: .25em .15em;
      display: block; }
    .info .work a::before, .invitation .work a::before {
      display: none; }
  .info p, .invitation p {
    font-size: 1.15em;
    margin-bottom: 1em;
    max-width: 500px;
    line-height: 150%; }
  .info a, .invitation a {
    color: #1f1f1f;
    margin: 0;
    padding: 0;
    font-size: 1em;
    text-decoration: none; }
  .info a::before, .invitation a::before {
    content: "↗";
    font-size: .25em;
    margin-right: 1em; }
  .info a.more::before, .invitation a.more::before {
    display: none; }
  .info a:hover, .invitation a:hover {
    background: #1f1f1f;
    color: #f7f7f7;
    text-decoration: none; }
  @media only screen and (max-width: 900px) {
    .info, .invitation {
      flex-wrap: wrap;
      margin-bottom: 1em; }
      .info p,
      .info .work, .invitation p,
      .invitation .work {
        max-width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 1em; }
        .info p h4,
        .info .work h4, .invitation p h4,
        .invitation .work h4 {
          margin: 0; }
        .info p ._work,
        .info .work ._work, .invitation p ._work,
        .invitation .work ._work {
          padding: 0;
          margin: 1em 0;
          margin-right: 2em; } }

.info {
  min-height: 85vh;
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between; }
  .info div {
    margin-top: auto;
    margin-bottom: 0; }

.invitation {
  margin-top: 40px;
  max-width: 1050px;
  display: flex;
  justify-content: space-between; }
  .invitation h2 {
    margin: 0;
    padding: .5em; }
  .invitation p {
    line-height: 160%;
    font-size: 1em;
    padding: 1em; }
  .invitation a {
    text-decoration: underline; }
  .invitation a:hover {
    color: #f7f7f7; }
  .invitation a::before {
    display: none; }
  .invitation .interests {
    padding: 0 2em;
    max-width: 60%; }
    .invitation .interests li {
      max-width: 90%; }
  .invitation ul {
    margin: 0; }
  @media only screen and (max-width: 900px) {
    .invitation p {
      margin: 1em 0; }
    .invitation .interests {
      max-width: 100%;
      padding: 0; }
    .invitation h2 {
      margin: 1em 0;
      padding: 0; } }

#intro {
  width: 100%;
  margin: 0 auto;
  padding: 100px 1.5em 0 1.5em;
  background-repeat: no-repeat;
  background-position: top center; }
  #intro .box-inner {
    margin: 0 auto;
    width: 100%; }
  #intro h1 {
    padding: 2.5em;
    font-family: "Times Now";
    letter-spacing: -1.5px;
    font-weight: 100;
    font-size: 4vw; }
  @media only screen and (max-width: 768px) {
    #intro h1 {
      font-size: 2.6em;
      margin-bottom: 1em;
      padding: .5em;
      width: 100%; } }

#work {
  margin: 0 auto;
  padding: 0 1.5em; }
  #work .box-inner {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto; }
  #work h1 {
    padding: 2.5em;
    font-family: "Times Now";
    letter-spacing: -1.5px;
    font-weight: 100;
    font-size: 4vw; }
  @media only screen and (max-width: 768px) {
    #work h1 {
      font-size: 2.6em;
      margin-bottom: 1em;
      padding: .5em;
      width: 100%; } }

#projects {
  margin: 0 auto; }
  #projects hr {
    pointer-events: none;
    display: inline-block;
    width: 50px;
    height: 40px; }
  #projects a {
    color: #1f1f1f;
    display: inline-block;
    font-size: 1em;
    margin: .5em;
    padding: 1em .5em;
    width: 48%;
    text-decoration: none; }
    #projects a ._images {
      object-fit: cover;
      mix-blend-mode: darken;
      width: 100%;
      max-width: 48vw;
      overflow: hidden;
      background: #f7f7f7; }
      #projects a ._images img {
        width: 100%;
        height: auto;
        max-height: 45vh;
        object-fit: cover; }
    #projects a h2 {
      font-weight: 400;
      letter-spacing: -.25px;
      margin: .15em auto;
      width: auto;
      font-family: "Times Now";
      font-style: italic;
      font-size: 1.5em; }
    #projects a p {
      margin: .25em 0 .15em 0;
      max-width: 320px;
      font-size: .9em; }
    #projects a span.tag {
      font-size: .7rem;
      padding: 0;
      margin-right: .25em;
      text-transform: uppercase; }
  #projects a:hover span.tag {
    background: #1f1f1f;
    color: #f7f7f7; }
  #projects a:hover ._images {
    filter: grayscale(0); }
  @media only screen and (min-width: 1200px) {
    #projects a {
      max-width: 48vw;
      width: 48%; }
      #projects a ._images img {
        width: 100%;
        max-width: 100vw; } }
  @media only screen and (max-width: 900px) {
    #projects hr {
      display: none; }
    #projects a {
      width: 100%;
      max-width: 100%;
      padding: .5em;
      margin: 0; }
      #projects a ._images {
        max-width: 100vw; }
        #projects a ._images img {
          width: 95%;
          max-height: 30vh;
          max-width: 100vw;
          text-align: center;
          margin: 0 auto; } }

#rss {
  scroll-margin-top: 200px;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center; }
  #rss a {
    display: block;
    padding: .8em 0;
    line-height: 110%;
    border-bottom: 1px solid #1f1f1f;
    text-align: left;
    text-decoration: none;
    color: #1f1f1f;
    font-size: .9rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  #rss a:before {
    content: "↗";
    font-size: .8em;
    float: left;
    margin-right: .5em;
    display: inline-block;
    width: 15px; }
  #rss a:empty:after {
    content: "Untitled"; }
  #rss a:hover {
    background: #1f1f1f;
    color: #f7f7f7; }
  @media only screen and (max-width: 768px) {
    #rss a {
      font-size: .9rem;
      display: block;
      max-width: 100%;
      width: 100%;
      margin: .5em 0; }
      #rss a sup {
        display: inline-block; }
    #rss a:before {
      content: "·";
      text-align: center; } }

#experiments {
  scroll-margin-top: 200px;
  max-width: 1100px;
  counter-reset: item;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  #experiments span.spacer {
    width: 45px;
    display: inline-block; }
  #experiments a {
    width: 49%;
    text-decoration: none;
    line-height: 120%;
    font-size: .9rem;
    padding: .6em 0;
    font-weight: 300;
    display: block;
    border-bottom: 1px solid #1f1f1f;
    color: #1f1f1f;
    text-align: left; }
  #experiments a::before {
    display: inline-block;
    counter-increment: item;
    content: counter(item);
    font-size: .8em;
    width: 15px;
    margin-right: .5em; }
  #experiments a:hover {
    background: #1f1f1f; }
  @media only screen and (max-width: 768px) {
    #experiments span.spacer {
      display: none; }
    #experiments h2 {
      font-size: 2.8em; }
    #experiments a {
      font-size: .9rem;
      line-height: 110%;
      display: block;
      width: 100%;
      text-align: left;
      padding: .5em 0;
      margin: .5em 0; }
    #experiments a::before {
      margin-right: .1em;
      height: 16px;
      width: 16px;
      font-size: .6em; } }

#newsletter {
  width: 100%;
  margin: 2em auto;
  text-align: center; }
  #newsletter p {
    margin: 0 auto; }
  @media only screen and (max-width: 768px) {
    #newsletter {
      padding-bottom: 250px; } }

.cover {
  height: 290px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center; }

/* ANIMATIONS */
@keyframes pageload {
  0% {
    opacity: 1; }
  99% {
    opacity: 0; }
  100% {
    opacity: 0; } }

