/*

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
*/
@font-face {
  font-family: 'Bau Pro';
  src: url(../fonts/BauPro.woff2) format("woff2"), url(../fonts/BauPro.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Bau Pro';
  src: url(../fonts/BauPro-Medium.woff2) format("woff2"), url(../fonts/BauPro-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Neue Montreal';
  src: url(../fonts/NeueMontreal-Bold.woff2) format("woff2"), url(../fonts/NeueMontreal-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Neue Montreal';
  src: url(../fonts/NeueMontreal-Regular.woff2) format("woff2"), url(../fonts/NeueMontreal-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Neue Montreal';
  src: url(../fonts/NeueMontreal-Medium.woff2) format("woff2"), url(../fonts/NeueMontreal-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Times Now';
  src: url("https://chia.design/assets/fonts/TimesNow-SemiLight.woff2") format("woff2"), url("https://chia.design/assets/fonts/TimesNow-SemiLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Times Now';
  src: url("https://chia.design/assets/fonts/TimesNow-SemiLightItalic.woff2") format("woff2"), url("https://chia.design/assets/fonts/TimesNow-SemiLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #3b3b3b; }

h1, h2, h3, h4, h5 {
  margin: 6px;
  padding: 0; }

/* MAIN STRUCTURAL ELEMENTS */
body {
  cursor: default;
  background: #f7f7f7;
  color: #35383b;
  text-rendering: optimizeLegibility;
  font-display: swap;
  font-family: "Neue Montreal", Helvetica, Arial, Sans-Serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

::-moz-selection {
  /* Code for Firefox */
  color: #f7f7f7;
  background: #35383b; }

::selection {
  color: #f7f7f7;
  background: #35383b; }

.container {
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  place-items: center; }

.container.alt {
  color: #f7f7f7; }

.box {
  display: flex;
  box-sizing: border-box;
  place-items: center;
  justify-content: center;
  width: 100%; }
  .box .box-inner {
    margin: 0 auto; }
  .box .inner-center {
    padding: 1em; }

h1,
h2,
h3 {
  width: 100%; }

h1 {
  text-align: center;
  font-size: 1.5em;
  line-height: 90%;
  margin: .5em auto;
  font-family: 'Times Now', serif; }

h3 {
  font-family: 'Times Now', serif;
  font-size: 1.5em;
  letter-spacing: -.25px;
  margin: 0;
  padding: .5em 0; }

h4 {
  font-weight: 300; }

h1,
h3 {
  font-weight: 300; }

a {
  -webkit-transition: all 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -moz-transition: all 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -ms-transition: all 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -o-transition: all 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: all 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  color: #35383b;
  text-decoration: none; }

a:hover {
  opacity: 0.5; }

.header {
  position: fixed;
  z-index: 9;
  height: 80px;
  width: 100%;
  top: 0px;
  box-sizing: border-box;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  background-repeat: repeat-x;
  background-size: contain; }
  .header a {
    color: #35383b;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 100;
    font-display: swap;
    padding: .25em;
    margin: .15em;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear; }
  .header .header-right a {
    margin-left: .25em; }
  .header .header-right a:hover {
    cursor: ne-resize;
    color: #35383b;
    background: none;
    opacity: 0.5; }
  @media only screen and (max-width: 700px) {
    .header {
      height: 50px;
      padding: 1em .5em; }
      .header .header-left {
        display: none; }
      .header .header-right {
        width: 100%;
        text-align: center; }
      .header .header-right a {
        padding: .5em;
        margin-left: 0; } }

.mangacap {
  display: none;
  position: absolute;
  width: auto;
  height: auto;
  z-index: 0;
  overflow: hidden;
  background: #f7f7f7;
  mix-blend-mode: darken;
  object-fit: cover; }
  @media only screen and (max-width: 800px) {
    .mangacap {
      position: relative;
      top: 10vh;
      left: 0;
      right: 0;
      width: 100%;
      text-align: center; } }

@media only screen and (max-width: 700px) {
  div.mangacap ~ .mangacap {
    display: none; } }

#about {
  padding-top: 80px;
  cursor: help; }
  #about .box-inner {
    width: 1000px;
    max-width: 90vw;
    margin: 0 auto;
    padding: 1em; }
  #about p {
    font-size: 1.125rem; }
  #about .hello {
    max-width: 90vw;
    line-height: 150%;
    letter-spacing: -.1px;
    text-indent: 50px;
    padding: .5em; }
  #about .col-third.experience p {
    font-size: 1em;
    line-height: 140%;
    margin-bottom: 1em; }
  @media only screen and (max-width: 900px) {
    #about {
      background-position: bottom;
      padding-top: 40px; }
      #about .hello {
        font-size: 1rem; }
      #about .col-third,
      #about .col-half {
        margin: 0; } }

.why {
  display: none;
  margin: 50px auto; }
  .why h1 {
    text-transform: uppercase;
    font-size: .9em; }
  .why ol {
    list-style: none;
    counter-reset: why; }
    .why ol li {
      width: 100%;
      max-width: 600px;
      text-align: left;
      margin: 0 auto;
      margin-bottom: 1em;
      counter-increment: why; }
      .why ol li h3 {
        font-size: 2em;
        line-height: 120%;
        padding: 0; }
      .why ol li p {
        text-align: left; }
    .why ol li::before {
      position: absolute;
      margin-left: -40px;
      content: counter(why);
      color: #f0f0f0;
      border: 1px solid #f0f0f0;
      padding: .15em;
      text-align: center;
      border-radius: 100px;
      height: 30px;
      width: 30px;
      display: inline-block;
      font-size: 1em; }
      @media only screen and (max-width: 600px) {
        .why ol li::before {
          display: none; } }
    @media only screen and (max-width: 600px) {
      .why ol {
        width: 90vw; }
        .why ol li {
          margin-left: -2em; } }

#links {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  #links .col-third {
    margin: 0 .5em;
    text-align: left;
    padding-bottom: 1em; }
  #links .col-third h3 {
    font-family: "Times Now", serif;
    font-size: 1.5em;
    letter-spacing: -.5px;
    margin-bottom: .5em; }
  #links u {
    line-height: 1.25em;
    text-decoration: none; }
  #links .col-third a {
    display: block;
    text-decoration: none;
    text-align: left;
    font-size: 1em;
    margin-bottom: 1em;
    letter-spacing: -.15px; }
    #links .col-third a p {
      text-transform: none;
      line-height: 110%;
      max-width: 80%;
      padding: 0;
      margin: .25em 0 1em 0;
      color: #35383b; }
  #links sup {
    font-size: .8em;
    text-transform: uppercase;
    color: #35383b; }
  #links .col-third a:hover sup {
    background: #35383b;
    color: #f7f7f7; }

#footer {
  background: none;
  position: relative;
  width: 100%;
  padding: 2em;
  margin: 0 auto;
  margin-top: 5vh;
  box-sizing: border-box;
  text-align: center;
  display: block; }
  #footer ._foot {
    padding-bottom: 5vh;
    margin: 0 auto;
    text-align: right; }
    #footer ._foot p {
      text-align: center; }
    #footer ._foot a {
      color: #35383b;
      text-decoration: none;
      font-size: 1.125rem;
      padding: .25em;
      margin: .15em;
      min-width: 60px;
      display: inline-block; }
    #footer ._foot a.about {
      padding-right: 1.5em;
      float: left;
      text-align: left; }

.col {
  margin: 0 auto;
  width: 95%;
  max-width: 1000px;
  padding: 1em 0;
  margin: 0 0 1em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .col .col-third {
    margin: .5em;
    width: 31%; }
  @media only screen and (max-width: 800px) {
    .col {
      justify-content: flex-start; }
      .col .col-third {
        width: 47%; } }
  @media only screen and (max-width: 560px) {
    .col .col-third {
      width: 100%;
      margin-bottom: .5em; } }

.footer-newsletter {
  height: 60px;
  margin-bottom: 1em; }
  .footer-newsletter input[type="text"] {
    display: inline-block;
    border: 0;
    height: 40px;
    width: 80vw;
    max-width: 330px;
    padding: 1em; }
  .footer-newsletter input[type="submit"] {
    position: relative;
    left: 0;
    display: inline-block;
    box-sizing: border-box;
    padding: 1em;
    background: none;
    border: 0;
    font-size: 1.3em;
    margin: 0;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear; }
  .footer-newsletter input[type="submit"]:hover {
    position: relative;
    left: 10px; }
  @media only screen and (max-width: 600px) {
    .footer-newsletter {
      margin: 0; }
      .footer-newsletter input[type="submit"] {
        position: static;
        padding: .5em; } }

#footer.footer-alt .footer-links a {
  color: #ACB2B4; }

#footer.footer-alt .footer-newsletter input[type="submit"] {
  color: #35383b !important; }

details[open] summary ~ * {
  animation: sweep .75s ease-in-out; }

@keyframes sweep {
  0% {
    opacity: 0;
    margin-left: -10px; }
  100% {
    opacity: 1;
    margin-left: 0; } }

.portfolio-project-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  justify-content: center; }
  .portfolio-project-container .project-box:hover {
    cursor: e-resize;
    filter: grayscale(0); }
  .portfolio-project-container a {
    width: 46%;
    max-width: 380px;
    text-decoration: none;
    display: inline-block; }
  .portfolio-project-container .project-box {
    overflow: hidden;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    align-self: top;
    padding: 1em;
    flex-wrap: wrap;
    text-decoration: none;
    margin-bottom: 2em; }
    .portfolio-project-container .project-box .quote-block {
      display: none; }
    .portfolio-project-container .project-box h2 {
      margin-top: .5em;
      font-size: 1.25em;
      font-style: normal;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;
      -ms-transition: all .3s linear;
      -o-transition: all .3s linear;
      transition: all .3s linear; }
    .portfolio-project-container .project-box h3 {
      text-align: left;
      display: block;
      font-size: .9em;
      font-weight: 300;
      color: #35383b;
      padding: 0;
      margin: 0;
      cursor: e-resize;
      font-family: "Neue Montreal"; }
    .portfolio-project-container .project-box img {
      overflow: hidden;
      opacity: 0.8;
      filter: grayscale(1);
      max-width: 100%;
      padding: 0 .5em;
      margin: auto;
      text-align: center;
      cursor: e-resize;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;
      -ms-transition: all .3s linear;
      -o-transition: all .3s linear;
      transition: all .3s linear; }
    .portfolio-project-container .project-box .quote-block {
      color: #35383b; }
    .portfolio-project-container .project-box .btn {
      display: none !important; }
  .portfolio-project-container .project-unavailable {
    cursor: not-allowed !important; }
  .portfolio-project-container .project-box-desc {
    margin: 0 .5em;
    width: 100%;
    text-align: left; }
  .portfolio-project-container .quote-block {
    text-rendering: optimizelegibility;
    color: #f0f0f0;
    line-height: 22px;
    font-size: 14px;
    padding: 0;
    font-size: 1em;
    text-align: left !important;
    cursor: e-resize;
    display: none; }
  .portfolio-project-container h2 {
    padding: .3em 0 0 0;
    margin: 0;
    display: inline-block;
    font-weight: 300;
    font-style: italic;
    font-size: 2.1em;
    color: #35383b;
    line-height: 1.1em;
    cursor: e-resize; }
  @media only screen and (max-width: 800px) {
    .portfolio-project-container h2 {
      margin-top: .25em;
      font-size: 1.8em;
      text-align: left; }
    .portfolio-project-container .project-box {
      max-width: 600px;
      width: 100%;
      text-align: left; }
      .portfolio-project-container .project-box h3 {
        display: none; }
      .portfolio-project-container .project-box img {
        width: 100%; }
      .portfolio-project-container .project-box .btn {
        display: none; }
    .portfolio-project-container .project-box:hover img {
      filter: grayscale(1); }
    .portfolio-project-container .project-box:hover h2::after {
      color: #fff;
      margin-left: .25em; } }

#portfolio {
  background: none;
  display: flex;
  justify-content: center; }
  #portfolio .box-inner {
    max-width: 1900px; }
  #portfolio .project-box h2 {
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear; }

.portfolio-container {
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center; }

.portfolio-nav {
  padding: 1em;
  text-align: center; }
  .portfolio-nav a {
    font-style: italic;
    font-weight: 100;
    font-size: 2rem;
    margin: 0 1em;
    opacity: 0.7;
    background: none !important;
    cursor: pointer;
    color: #f0f0f0;
    white-space: nowrap;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear; }
    @media only screen and (max-width: 850px) {
      .portfolio-nav a {
        padding: .25em; } }
  .portfolio-nav a:hover {
    opacity: 1;
    color: #35383b; }

/* MAIN ELEEMENTS */
p {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  letter-spacing: .05px;
  line-height: 150%; }
  p a {
    text-decoration: none;
    color: #35383b; }

li {
  font-size: .9em;
  line-height: 1.6em;
  margin-bottom: 1em;
  max-width: 80%; }

mark {
  padding: .2em;
  filter: hue-rotate(90deg);
  mix-blend-mode: difference; }

hr {
  border: 0;
  margin: 0;
  height: 20px; }

/* DECORATIVE */
.static {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 250vw;
  height: 250vh;
  pointer-events: none;
  background-repeat: repeat;
  background-size: 300%;
  animation: bg-animation 2s infinite;
  opacity: 0.7;
  z-index: 9999999999; }

@keyframes bg-animation {
  0% {
    transform: translate(0, 0); }
  10% {
    transform: translate(-5%, -5%); }
  20% {
    transform: translate(-10%, 5%); }
  30% {
    transform: translate(5%, -10%); }
  40% {
    transform: translate(-5%, 15%); }
  50% {
    transform: translate(-10%, 5%); }
  60% {
    transform: translate(9%, 0); }
  70% {
    transform: translate(0, 10%); }
  80% {
    transform: translate(-9%, 0); }
  90% {
    transform: translate(6%, 5%); }
  100% {
    transform: translate(5%, 0); } }

